/*
    theme name:Dashboard
    author name:vikas global solution
    version :1.0    
*/
/*-- importfonts --*/
@font-face{
    font-family:"Montserrat";
    src:url("../font/Montserrat-Bold.woff") format("woff"),
        url("../font/design_fonts/Montserrat-Regular.woff") format("woff"),
}
@font-face{
    font-family:"Oxygen";
    src:url("../font/Oxygen-Bold.woff") format("woff"),
        url("../font/Oxygen-Light.woff") format("woff"),
        url("../font/Oxygen-Regular.woff") format("woff"),
}
/*-- /importfonts --*/
html,
body {
    height: 100%;
    width: 100%;
}
body{
   font-family:"Montserrat";
   font-size:100%;
   -webkit-font-smoothing:antialiased;
   -moz-font-smoothing:antialiased;
   color:#4b4b4b;
   font-size:13px;
}
body p {
    color:#4b4b4b;
    font-family:"Montserrat";
}
body a,a:hover {
    text-decoration:none;
}
body h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
    letter-spacing: -0.029em;
    margin:0;
    color:#4b4b4b;
    margin:0 0 10px 0;
}
h1 {
    font-size:28px;
}
h2 {
    font-size:24px;
}
h3 {
    font-size:20px;
}
h4 {
    font-size:16px;
}
h5 {
    font-size:12px;
}
h5 {
    font-size:10px;
}
/*-- header --*/
#header{
    background:#0a8fe8;
    height:90px;
}
#header .logo{
    padding-top:5px;
    background-color: #FFFFFF;
}
#header .logo a{
    color:#FFF;
    font-family: "Montserrat";
    font-size:14px;
    text-transform:capitalize;
}
/*-- main_menu --*/
#main_menu{
    background:#000000;
    height:45px;
}
#main_menu ul{
    margin: 13px 0 0 0;
    padding: 0;
}
#main_menu ul li a{
    color:#FFF;
    font-size:12px;
    font-family: "Montserrat";
}
#main_menu ul li a.active{
    background:#FFF;
    color:#4b4b4b;
    padding:4px 18px;
    border-radius:30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -o-border-radius:30px;
    -ms-border-radius:30px;
}
/*--- login_section --*/
.login_bg{
    background-size:cover;
    min-height:500px;
}
.login_section{
    width: 30%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.87);
    padding: 30px;
    position: relative;
    top: 88px;
}
.login_section h1{
    font-size:18px;
    color:#4b4b4b;
}
.login_section .text_field_grid label{
    font-size:12px;
    display:block;
    color:#4b4b4b;
}
.login_section .text_field_grid{
    margin:0 0 10px 0; 
}
.login_section .text_field_grid input[type="text"],.login_section .text_field_grid input[type="password"]{
    border:1px solid #dfdfde;
    height:40px;
    width:100%;
    font-size:12px;
    padding:10px;
    background:#ffffff;
}
a.forgot_pass{
    color: #0a8fe8;
    display: block;
    margin: 15px 0;
    font-size: 12px;
}
.login_section .login_buttons input[type="submit"],.login_section .login_buttons input[type="reset"]{
    width:48%;
    border:none;
    color:#FFF;
    font-size:12px;
    height:40px;
    float:left;
    cursor:pointer;
}
.login_section .login_buttons input[type="submit"]{
    margin-right:4%;
    background:url(../images/check.png) no-repeat 29px 5px #0a8fe8;
}
.login_section .login_buttons input[type="reset"]{
    margin-right:0;
    background:url(../images/cancle.png) no-repeat 25px 5px #202020;
}
/*-- user_stat --*/
.user_stat{
    margin-top:23px;
}
.stat-grid{
    background:#FFF;
    width:230px;
}
.profile_pic img{
    width:70px;
}
.profile_info{
    width: 144px;
    pading:10px;
    margin-top:15px;
    font-size:12px;
}
.profile_info .text-left{
    float:left;
}
.profile_info a.text-left{
    color:#0a8fe8;
}
.profile_info .text-right{
    float:right;
    margin-right: 16px;
}
.profile_info a.text-right{
    color:#000000;
    margin-top: -2px;
}
.profile_info a.text-right span.logout_ico{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(../images/logout_ico.png) no-repeat 0px 0px;
    vertical-align: bottom;
}
/*-- users_section --*/
#sidebar{
    background:#000000;   
    padding:0;
    min-height:500px;
}
#sidebar ul{
    margin:0;
    padding:0;
}
#sidebar ul li{
    display:block;
    margin-bottom:1px;
}
#sidebar li a{
    color:#FFF;
    font-size:12px;
    font-weight:normal;
    height:45px;
    display:block;
    background:#202020;
    padding: 8px;
}
#sidebar li a span{
    width:32px;
    height:32px;
    background:url(../images/sidebar_ico.png) no-repeat 0px 0px;
    display:inline-block;
    vertical-align: middle;
}
#sidebar li a span.users_ico{
    background-position: 6px 3px;
}
#sidebar li a span.groups_ico{
    background-position: 6px -44px;
}
#sidebar li a span.policies_ico{
    background-position: 6px -95px;
}
#sidebar li a span.config_ico{
    background:url(../images/config_icon.png) no-repeat 2px 2px;
    background-size: 27px;
}
#sidebar li a span.audit_ico{
    background:url(../images/audit_icon.png) no-repeat 1px 4px;
    background-size: 24px;
}
#sidebar li a span.deployment_ico{
    background:url(../images/deployment_ico.png) no-repeat 1px 4px;
    background-size: 24px;
}
#sidebar li a span.dashboard_ico{
    background:url(../images/dashboard_ico.png) no-repeat 1px 4px;
    background-size: 24px;
}
#sidebar li a.active{
    background:#0a8fe8;
}
.users_section #sidebar{
    margin:20px 0;
}
.users_section #right_main_content{
    margin:10px 0 20px 0;
    min-height: 600px;
}
/*--  bread_crumbs --*/
.bread_crumbs{
    font-weight:13px;
}
.bread_crumbs ul{
    margin:0px;
    padding:0px;
}
.bread_crumbs ul li{
    padding:0;
}
.bread_crumbs ul li a{
    color:#4b4b4b;
}
.bread_crumbs ul li a.active{
    color:#0a8fe8;
}
/*-- table --*/
.table_top_section{
    background: #000;
    height: 60px;
    padding: 12px 0;
}
.table_top_section h1{
    font-size:16px;
    color:#FFF;
    font-weight:normal;
}
.table_top_section_headding-left{
    margin-top:10px;
}
.table_top_section_headding-right{
    padding:0;
}
.users_table {
    margin-top: 10px;
}
.table_top_section_headding-right .search_box input[type="text"] {
    border:0;
    background:#FFF;
    height:35px;
    padding:10px;
    width:100%;
}
.table_top_section_headding-right .search_box select {
    border:0;
    background:#FFF;
    height:35px;
    padding:10px;
    /*width:100%;*/
}
.table_top_section_headding-right .control-label {
    color: #FFFFFF;
}
.table_top_section_headding-right .search_box{
    position:relative;
}
.table_top_section_headding-right .search_box input[type="submit"]{
    background:url(../images/search_ico.png) no-repeat 0px 0px;
    width:32px;
    height:32px;
    display:block;
    position:absolute;
    right:20px;
    top:0;
    border:none;
}
.table_top_section_headding-right .update_btn_section{
    padding:0;
}
.table_top_section_headding-right .update_btn_section input[type="button"], .table_top_section_headding-right .update_btn_section input[type="submit"]{
    border: 0;
    background: url(../images/refersh.png) no-repeat 10px 2px #fff;
    height: 35px;
    padding: 8px 10px;
    width: 100%;
    text-indent: 23px;
    vertical-align: middle;
}
.table_top_section_headding-right .update_btn_section input.clear-button[type="button"] {
    border: 0;
    background: #fff;
    height: 35px;
    padding: 8px 10px;
    text-indent: 0;
    vertical-align: middle;
}
.table_top_section_headding-right .add_btn input[type="button"]{
    border: 0;
    background: url(../images/add_ico.png) no-repeat 3px 2px #fff;
    height: 35px;
    padding: 8px 10px;
    width: 100%;
    text-indent: 23px;
    vertical-align: middle;
}
td span.edit_ico{
    width:32px;
    height:32px;
    background:url(../images/Edit_ico.png) no-repeat 0px 0px;
    display:inline-block;
}
td span.delete_ico{
    width:32px;
    height:32px;
    background:url(../images/delete.png) no-repeat 0px 0px;
    display:inline-block;
}
.table td,.table th {
   text-align: center;   
}
.table th{
    height: 47px;
    border-bottom: none !important;
    background: #0a8fe8;
    padding: 14px 0 !important;
    border: 1px solid #e0e0e0 !important;
    color: #FFF;
    font-weight: 100;
    font-size: 12px;
}
.table tr td{
    border:1px solid #e0e0e0 !important;
}
.table tr th{
    border:none !important;
}
.table>tbody>tr>td{
    vertical-align: middle !important;
}
.table th:nth-child(2n){
     background:#3ba5ed;
}
.table tbody tr{
    background:#f2f2f2;
}
.table tbody tr:nth-child(2n){
    background:#f3f9fe;
}
/*-- pagenation --*/
.pagenation ul{
    margin:0;
    padding:0;
}
.pagenation ul li{
    
}
.pagenation ul li a{
    background:#239aea;
    width:30px;
    display:inline-block;
    color:#FFF;
    font-size:12px;
    text-align:center;
    height:30px;
    line-height: 30px;
}
.pagenation ul li.active a,.pagenation ul li a:hover{
    background:#000000;
}
.pagenation ul li.previous {
    padding-left:0;
}
.pagenation ul li.previous.disabled a, .pagenation ul li.next.disabled a {
    background-color: gray;
}
.pagenation ul li.next{
    padding-right:0;
}
.pagenation ul li.next a, .pagenation ul li.previous a{
    width:60px;
}
/*-- add_new_row --*/
.add_new_row{
    border: 1px solid #dfdfde;
    padding: 30px 0 70px;
    margin-bottom: 50px;
}
.add_new_row .form-group label{
    font-weight:100;
    font-size:13px;
}
.add_new_row .form-group input[type="text"],.add_new_row .form-group textarea,.add_new_row .form-group select{
    border-radius:0;
    height:42px;
    border:1px solid #dfdfde;
    box-shadow:none;
    font-size:13px;
}
.form-group select[multiple] {
    height: 80px;
}
.add_new_row .form-group select{
    width:100%;
}
.add_new_row .form-group textarea{
    height:120px;
    resize:none;
}
.add_new_row .form-group input[type="text"]:active,.add_new_row .form-group input[type="text"]:focus{
    border:1px solid #0a8fe8;
}
.add_new_row .login_buttons input[type="submit"],.add_new_row .login_buttons input[type="reset"]{
    width:48%;
    border:none;
    color:#FFF;
    font-size:12px;
    height:42px;
    float:left;
}
.add_new_row input[type="checkbox"]{
    vertical-align: sub;
}
.checkboxs_section{
    margin-top:5px;
}
.add_new_row .login_buttons input[type="submit"]{
    margin-right:4%;
    background:url(../images/check.png) no-repeat 29px 5px #0a8fe8;
}
.add_new_row .login_buttons input[type="reset"]{
    margin-right:0;
    background:url(../images/cancle.png) no-repeat 25px 5px #202020;
}
.add_new_row .login_buttons{
    margin:15px 0 0 0;
}
.selected_groups{
    border:1px solid #dfdfde;
    padding:10px;
    margin-top:20px;
}
.selected_grid{
    border-bottom: 1px solid #dfdfde;
    padding:10px 0;
}
.no-border{
    border:none;
}
.selected_grid .col-xs-10,.selected_grid .col-xs-2{
    padding:0;
    text-transform:capitalize;
}
.selected_grid span a{
    color:#0a8fe8;
}
/*--- Group-table --*/
.Group-table .table th:nth-child(2),.Group-table .table tr td:nth-child(2){
    text-align:left;
}
.Group-table .table th:nth-child(2){
    text-indent:10px;
}
/*--- check-box --*/
.checkboxs_section input[type="checkbox"] {
    display:none;
}
.checkboxs_section li{
    color:#4b4b4b;
}

.checkboxs_section input[type="checkbox"] + label {
    color:#4b4b4b;
    cursor:pointer;
}

.checkboxs_section input[type="checkbox"] + label span {
    display: inline-block;
    width: 23px;
    height: 24px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(../images/check-box.png) -3px -34px no-repeat;
    cursor: pointer;
}

.checkboxs_section input[type="checkbox"]:checked + label span {
   background: url(../images/check-box.png) -3px -6px no-repeat;
}
/*-- footer --*/
#footer{
    background:#000000;
    height:50px;
    font-family: "Montserrat";
}
#footer p{
    font-size: 12px;
    color: #FFF;
    padding: 18px 0 0 0;
    display: block;
    
}
/*--- responsive_design ---*/
@media(max-width:1280px){
    .login_section {
        width: 35%;
    }
}
@media(max-width:1024px){
    .login_section {
        width: 40%;
    }
}
@media(max-width:768px){
    .login_section {
        width: 55%;
    }
    .login_bg {
        background-size: inherit;
    }
    #sidebar {
        min-height: inherit;
    }
    .table_top_section {
        height: initial;
    }
    .table_top_section_headding-right .update_btn_section {
        padding: 0 15px;
        margin: 15px 0;
    }
    .table_top_section_headding-right .update_btn_section.pull-right {
        padding: 0 15px;
        margin: 0;
    }
    .table_top_section_headding-right .update_btn_section input[type="button"] {
        text-indent: 30px;
        vertical-align: middle;
        text-align: left;
    }
    .table_top_section_headding-right .add_btn input[type="button"] {
       text-indent: 35px;
       text-align: left;
    }
    .users_section #sidebar {
        margin: 20px 0;
        padding: 0 15px;
        background: none;
    }
}
@media(max-width:640px){
    .login_section {
        width: 70%;
    }
}
@media(max-width:480px){
    .login_section {
        width: 85%;
    }
}
@media(max-width:320px){
    .login_section {
        width: 90%;
        padding:15px;
    }
    .login_section .login_buttons input[type="reset"] {
        background: url(../images/cancle.png) no-repeat 7px 5px #202020;
    }
    .login_section .login_buttons input[type="submit"] {
        background: url(../images/check.png) no-repeat 11px 5px #0a8fe8;
    }
}
.validation-error {
    color: red;
}
.audit_filter.form-inline .form-group {
    margin-right: 10px;
}
.dashboard-widgets {
    margin: 10px 0;
}
.dashboard-widgets .col:last-child {
    border: none;
}
.dashboard-widgets .col {
    background-color: #0a8fe8;
    color: #FFFFFF;
    padding: 10px;
    font-size: 14px;
    height: 85px;
    margin-right: 10px;
}
.dashboard-widgets .col b {
    display: block;
    font-size: 36px;
    text-align: right;
}
.char-row {
    margin-top: 15px;
}
.switch-container {
    margin-top: 10px;
}
.section-header {
    font-size: 16px;
    text-decoration: underline;
}
.sub-header {
    font-size: 14px;
}
.sub_options {
    margin-bottom: 15px;
}
.configuration-container {
    margin-top: 20px;
}
.deployment-statuses {
    font-size: 16px;
}
req {
    color: red;
}
.add-policy-wizard-backdrop {
    width: 100%;
    height: 100%;
    z-index: 998;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
}
.add-policy-wizard {
    width: 670px;
    height: 475px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    z-index: 999;
    border-radius: 2px;
    background-color: #e6e6e6;
}
.add-policy-wizard .header-bar {
    background-color: #202020;
    height: 35px;
}
.add-policy-wizard .header-bar i.fa {
    font-size: 20px;
    float: right;
    color: #FFF;
    margin-top: 7px;
    margin-right: 7px;
}
.add-policy-wizard .header-bar label {
    color: #FFFFFF;
    font-size: 14px;
    margin-top: 7px;
    margin-left: 14px;
}
.add-policy-wizard .steps span {
    float: left;
}
.add-policy-wizard .steps span.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #89898F;
    color: #89898F;
}
.add-policy-wizard .steps span.circle label {
    position: absolute;
    top: 5px;
}
.add-policy-wizard .steps span.circle.active {
    background-color: #45697D;
    color: #45697D;
}
.add-policy-wizard .steps span.circle.active label {
    color: #45697D;
}
.add-policy-wizard .steps span.circle.checked {
    background-color: #5A9AB2;
    color: #FFFFFF;
}
.add-policy-wizard .steps span.circle.checked label {
    color: #5A9AB2;
}
.add-policy-wizard .steps span.circle i.fa {
    margin: 9px 0 0 9px;
}
.add-policy-wizard .steps span.cprogress {
    background-color: #89898F;
    margin-left: -1px;
    margin-right: -1px;
    width: 55px;
    height: 10px;
    margin-top: 10px;
}
.add-policy-wizard .steps span.cprogress.filled {
    background-color: #5A9AB2;
}
.add-policy-wizard .steps-container {
    padding: 30px 20px 10px;
    overflow: hidden;
    position: relative;
    background-color: #e6e6e6;
}
.add-policy-wizard .sub-containers {
    background-color: #FFFFFF;
    height: 300px;
    padding-left: 0;
    padding-right: 0;
    border-right: 15px solid #e6e6e6;
    overflow-y: auto;
}
.add-policy-wizard .sub-containers.with-padding {
    padding-left: 15px;
    padding-top: 15px;
}
.add-policy-wizard .sub-containers:last-child {
    padding-right: 15px;
    margin-right: 0;
    border-right: 0;
}
.add-policy-wizard .input-containers {
    padding: 10px 20px;
}
.add-policy-wizard .action-buttons {
    padding: 3px 20px;
}
.no-margin {
    margin: 0;
}
.first-list {
    list-style-type: none;
    padding-left: 0;
}
.first-list li {
    padding: 5px;
}
.first-list li.active {
    background-color: rgba(243, 66, 16, 0.2);
    border-left: 3px solid rgb(243, 66, 16);
}
.checkbox-list, .overview-list {
    list-style-type: none;
    padding: 0;
}
.overview-list i {
    color: darkorange;
}
.overview-list li ul {
    list-style-type: none;
    padding-left: 15px;
}
.no-overflow {
    overflow: hidden;
}