.logo{
    padding-top:5px;
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 200px;
    z-index: 999;
}
.logo a{
    color:#FFF;
    font-family: "Montserrat";
    font-size:14px;
    text-transform:capitalize;
}
#loginProgress {
    display: none;
}
div.input-group {
    color: #FFFFFF;
}
div.input-group .mdl-textfield {
    padding: 0;
    margin-top: 8px;
}
div.input-group i {
    margin-top: 10px;
    margin-left: 0;
    color: #FFFFFF;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.add_btn {
    padding-top: 11px;
    text-align: right;
}
td.mdl-typography--text-center {
    text-align: center !important;
}
.mdl-card__actions .mdl-card__title-text {
    font-size: 24px;
    align-self: center;
    color: rgb(0, 188, 212);
}
.actionbar-btn {
    margin-left: 10px;
}
.actionbar-btn:nth-child(2) {
    margin-left: 0;
}
.selected-items-list .mdl-list__item {
    padding: 0 14px;
}
.mdl-textfield.selectbox {
    padding: 0;
    margin: 7px 0 0 0;
}
.mdl-textfield.selectbox .mdl-textfield {
    padding: 0 0 10px 0;
}
.mdl-textfield.selectbox .mdl-textfield select {
    color: #FFFFFF;
}
.mdl-textfield.selectbox .mdl-textfield select option {
    color: #000;
}
span.label.status {
    margin-left: inherit;
}
ui-view {
    width: calc(100% - 16px);
}
.white-bg.mdl-card__supporting-text {
    background-color: #FFFFFF;
}
.state-tiles .mdl-card__title-text {
    font-size: 21px;
}
.text-right {
    text-align: right;
}
.mdl-cell.audit-filter {
    margin: 21px 16px 0;
}
.mdl-layout-title .logoimg {
    position: absolute;
    top: -28px;
}
.logoimg {
    background-color: #FFFFFF;
    width: 103px;
}
.add-popup-backdrop {
    width: 100%;
    height: 100%;
    z-index: 998;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
}
.add-popup-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    z-index: 999;
    border-radius: 2px;
}
.no-overflow {
    overflow: hidden;
}
.add-policy-wizard .general-form {
    width: 700px;
}
.add-policy-wizard .header-bar {
    background-color: #202020;
    height: 35px;
}
.add-policy-wizard .header-bar i.fa {
    font-size: 20px;
    float: right;
    color: #FFF;
    margin-top: 7px;
    margin-right: 7px;
}
.add-policy-wizard .steps span {
    float: left;
}
.add-policy-wizard .steps span.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #89898F;
    color: #89898F;
}
.add-policy-wizard .steps span.circle label {
    position: absolute;
    top: 5px;
    color: #89898F;
    margin-left: -7px;
}
.add-policy-wizard .steps span.circle.active {
    background-color: #45697D;
    color: #45697D;
}
.add-policy-wizard .steps span.circle.active label {
    color: #45697D;
}
.add-policy-wizard .steps span.circle.checked {
    background-color: #5A9AB2;
    color: #FFFFFF;
}
.add-policy-wizard .steps span.circle.checked label {
    color: #5A9AB2;
}
.add-policy-wizard .steps span.circle i.fa {
    margin: 8px 0 0 8px;
}
.add-policy-wizard .steps span.cprogress {
    background-color: #89898F;
    margin-left: -1px;
    margin-right: -1px;
    width: 55px;
    height: 10px;
    margin-top: 10px;
}
.add-policy-wizard .steps span.cprogress.filled {
    background-color: #5A9AB2;
}
.add-policy-wizard .steps-container {
    padding: 30px 20px 10px;
    overflow: hidden;
    position: relative;
    background-color: #d3d3d3;
}
.add-policy-wizard .sub-containers {
    background-color: #FFFFFF;
    height: 300px;
    padding-left: 0;
    padding-right: 0;
    overflow-y: auto;
}
.add-policy-wizard .sub-containers.with-padding {
    padding-left: 15px;
    padding-top: 15px;
}
.add-policy-wizard .sub-containers:last-child {
    padding-right: 15px;
    margin-right: 0;
    border-right: 0;
}
.add-policy-wizard .input-containers {
    padding: 10px 0;
}
.add-policy-wizard .action-buttons {
    padding: 3px 0;
    margin-bottom: 10px;
    overflow: hidden;
}
.no-margin {
    margin: 0;
}
.first-list {
    list-style-type: none;
    padding-left: 0;
}
.first-list li {
    padding: 5px;
    border-left: 3px solid transparent;
    cursor: pointer;
}
.first-list li.active {
    background-color: rgba(243, 66, 16, 0.2);
    border-left: 3px solid rgb(243, 66, 16);
}
.checkbox-list, .overview-list {
    list-style-type: none;
    padding: 0;
}
.overview-list i {
    color: darkorange;
}
.overview-list li ul {
    list-style-type: none;
    padding-left: 15px;
}
.add-policy-wizard .mdl-grid, .add-policy-wizard .mdl-grid label:not(.mdl-textfield__error), .add-policy-wizard input, .add-policy-wizard textarea {
    color: #202020;
}
.add-policy-wizard:not(.add-attribute-wizard) .mdl-cell {
    background-color: #d3d3d3;
}
.add-policy-wizard .mdl-cell:first-child {
    margin-left: 0;
}
.add-policy-wizard .mdl-cell:last-child {
    margin-right: 0;
}
.add-policy-wizard .mdl-cell.mdl-cell--3-col:first-child, .add-policy-wizard .mdl-cell.mdl-cell--3-col:last-child {
    width: 25%;
    margin-left: 0;
    margin-right: 0;
}
.add-policy-wizard .mdl-cell.mdl-cell--3-col.two:last-child {
    width: calc(25% + 16px);
}
.add-policy-wizard .close-wizard-btn, .edit-policy-container .close-wizard-btn {
    position: absolute;
    top: 17px;
    right: 17px;
}
.enc-algo-padding {
    padding: 15px 0 0 15px;
}
.mask-sub-options {
    margin-bottom: 15px;
}
.mask-sub-options select {
    display: block;
}
.mask-sub-options select[multiple] {
    height: 250px;
}
.add-policy-wizard .mdl-grid label.info-message {
    color: #989898;
    text-align: center;
    display: block;
    padding-top: 25px;
}
.light-container .mdl-textfield__input {
    border-bottom: 1px solid rgba(20, 20, 20, 0.5);
}
.light-container .mdl-checkbox.is-checked .mdl-checkbox__box-outline {
    border: 1px solid rgb(0, 188, 212);
}
.light-container .mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
    background: rgb(0, 188, 212) url("../images/tick.svg?embed"); }
.light-container .mdl-radio .mdl-radio__outer-circle {
    border: 2px solid rgba(20, 20, 20, 0.8);
}
.light-container .mdl-radio {
    margin-top: 5px;
    margin-bottom: 0;
    width: auto;
}
.light-container .mdl-radio span:first-of-type {
    margin-left: 0;
}
.dashboard-widgets.status {
    position: relative;
}
.dashboard-widgets.status h2 {
    float: left;
}
.dashboard-widgets.status a.status-spinner {
    font-size: 24px;
    margin-left: 10px;
}
.dashboard-widgets.status led, led {
    width: 15px;
    height:15px;
    border-radius: 50%;
    display: inherit;
    margin-top: 8px;
}
/*.dashboard-widgets.status led.green {
    background-color: #00ff00;
}
.dashboard-widgets.status led.red {
    background-color: #ff0000;
}*/
.dashboard-widgets.status led.green, led.green {
    background-color: #ABFF00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 4px;
}
.dashboard-widgets.status led.red, led.red {
    background-color: #F00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 4px;
    animation: blinkRed 0.5s infinite;
}
.chart-box {
    min-height: 245px;
}
.no-data-chart {
    margin-top: 40px;
    font-size: 18px;
}
.pagination {
    overflow: auto;
    margin-top: 20px;
}
.mdl-data-table.responsive {
    white-space: inherit;
}
.custom-errors {
    visibility: visible;
    color: rgb(245, 78, 78);
}
.page-no-text {
    margin: 8px 0 5px 8px;
}
.add-attribute-wizard .steps-container.attribute-steps {
    padding-left: 235px;
}
.add-attribute-wizard .mdl-cell.mdl-cell--12-col.sub-containers {
    width: 100%;
}
.add-attribute-wizard .mdl-cell.sub-containers {
    background-color: #e6e6e6;
}
.add-attribute-wizard .mdl-cell.sub-containers ul.mdl-list li.mdl-list__item {
    color: #000;
    padding: 4px 60px 4px 4px;
    min-height: 26px;
}
.add-attribute-wizard .mdl-cell.sub-containers .alias-list {
    max-height: 210px;
    overflow-y: auto;
}
.add-attribute-wizard .mdl-cell.sub-containers .add-alias-action-btn {
    margin-top: 15px;
    margin-left: 10px;
}
.whole_page_mask {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0,0,0,0.5);
}
.whole_page_mask .mdl-spinner {
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link .material-icons.submenu-arrow {
    margin-right: 0;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link .material-icons.hdmi {
    margin-right: 10px;
}
.add-cidr-ip-button {
    margin: 12px 0 0 12px;
}
.mdl-textfield:not(.is-dirty):not(.is-focused):not(.lite) label.mdl-textfield__label {
    color: rgba(255, 255, 255, 0.26);
}
.checkbox-list-policy {
    max-height: 100px;
    overflow-y: auto;
    border: 2px solid #666666;
    padding: 5px 10px 10px 8px;
    margin-bottom: 20px;
    margin-top: 2px;
}
.checkbox-list-policy li {
    list-style-type: none;
}
.checkbox-list-policy .mdl-checkbox__box-outline {
    border-color: #666666;
}
.general-form.edit-policy .mdl-radio span:first-of-type {
    margin-left: 0;
}
.general-form.edit-policy .mdl-radio {
    margin: 2px 10px 2px 0;
}
.edit-policy .radio-container:not(.response-action-radio) {
    margin-bottom: 20px;
}
.edit-policy .mdl-textfield {
    width: 300px;
}
label.policy-label, span.custom-textfield-label {
    color: rgb(0, 188, 212);
    font-size: 12px;
}
.edit-policy .mdl-card__supporting-text .mdl-cell {
    margin-bottom: 0;
}
.add-popup-box.edit-policy-container {
    height: 100%;
    overflow-y: auto;
}
a.mdl-button.mdl-button--colored-blue {
    background-color: rgb(0, 188, 212);
}
.mdl-checkbox.is-checked .mdl-checkbox__box-outline {
    border-color: rgb(0, 188, 212);
}
.mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
    background: rgb(0, 188, 212) url("../images/tick.svg?embed")
}
.general-form.edit-policy label:not(.mdl-textfield__label):not(.policy-label):not(.custom-err-msg) {
    color: #FFFFFF;
}
.mdl-textfield.is-invalid span.custom-textfield-label {
    color: rgb(245, 78, 78);
}
label.mdl-textfield__error.custom-err-msg {
    visibility: visible;
}
.mdl-data-table thead tr th {
    color: rgb(0, 188, 212);
}
.overflow-x {
    overflow-x: auto;
}
.selected-items-list {
    max-height: 130px;
    overflow-y: auto;
}
ul.second-list li {
    list-style-type: none;
}
ul.second-list {
    padding-left: 44px;
}
ul.expander-list li.ng-hide {
    opacity: 0;
}

ul.expander-list li.ng-hide-add,
.ul.expander-list li.ng-hide-remove {
    transition: all linear 0.5s;
}
.cursor-pointer {
    cursor: pointer;
}
ul.expander-list li .mdl-checkbox {
    width: calc(100% - 24px);
    height: auto;
}
.menu-label {
    width: calc(100% - 70px);
}
.menu-label-2 {
    width: calc(100% - 115px);
}
.mdl-selectfield .mdl-textfield select {
    color: #FFFFFF;
}
.mdl-selectfield .mdl-textfield select option {
    color: #000;
}
.onboardcheckbox .mdl-checkbox__box-outline {
    border-color: rgba(255, 255, 255, 0.6);
}
.mdl-checkboxfield {
    padding:20px 0;
}
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */
    .mobile-left-movable-content {
        text-align: left;
    }
    .mdl-radio.mobile-left-movable-content {
        display: block;
    }
    .mobile-right-movable-content {
        text-align: right;
    }
    button.mobile-right-movable-content {
        margin-bottom: 5px;
    }
    .mobile-right-movable-content .material-icons.pull-right {
        margin-right: 0;
    }
    .add-policy-wizard .general-form, .general-form {
        width: 100%;
    }
    .add-attribute-wizard .steps-container.attribute-steps {
        padding-left: 12%;
    }
    .add-attribute-wizard .mdl-cell.sub-containers, .add-policy-wizard .mdl-cell.sub-containers {
        margin:16px 0;
    }
    .add-policy-wizard .general-form button.mdl-button {
        padding: 0 8px;
    }
    .add-policy-wizard .mdl-cell.sub-containers {
        height: auto;
        max-height: 300px;
    }
    .add-policy-wizard .steps-container {
        display: none;
    }
    .mdl-layout-title .logoimg {
        width: 30px;
        top: -12px;
        left: -20px;
    }
}
@media (min-width:375px) {  /* smartphones, iPhone, portrait 480x320 phones */
    .add-attribute-wizard .steps-container.attribute-steps {
        padding-left: 18%;
    }
    .add-policy-wizard .general-form button.mdl-button {
        padding: 0 16px;
    }
    .mdl-layout-title .logoimg {
        width: 40px;
        top: -16px;
        left: -20px;
    }
}
@media (min-width:425px) {  /* smartphones, iPhone, portrait 480x320 phones */
    .add-attribute-wizard .steps-container.attribute-steps {
        padding-left: 22%;
    }
    .mdl-radio.mobile-left-movable-content {
        display: inline-block;
        text-align: left;
    }
    .mdl-layout-title .logoimg {
        width: 60px;
        top: -24px;
        left: -20px;
    }
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .mobile-left-movable-content {
        text-align: center;
    }
    .add-attribute-wizard .steps-container.attribute-steps {
        padding-left: 34%;
    }
    .add-attribute-wizard .mdl-cell.sub-containers, .add-policy-wizard .mdl-cell.sub-containers {
        margin: 16px 0;
    }
    .mdl-layout-title .logoimg {
        width: 103px;
        top: -28px;
        left: 0;
    }
}
@media (min-width:769px) {  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .add-attribute-wizard .steps-container.attribute-steps {
        padding-left: 36%;
    }
    .add-policy-wizard .general-form {
        width: 700px;
    }
    .general-form {
        width: 670px;
    }
}
@media (min-width:1024px) {  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .add-attribute-wizard .steps-container.attribute-steps {
        padding-left: 32%;
    }
    .add-policy-wizard .general-form {
        width: 700px;
    }
    .general-form {
        width: 670px;
    }
    .add-policy-wizard .mdl-cell.sub-containers {
        height: 300px;
    }
    .add-policy-wizard .steps-container {
        display: block;
    }
    .add-attribute-wizard .mdl-cell.sub-containers, .add-policy-wizard .mdl-cell.sub-containers {
        margin: 16px;
    }
    .add-policy-wizard .mdl-cell.sub-containers.two-of-first {
        margin: 16px 16px 0 0;
    }
    .add-policy-wizard .mdl-cell.sub-containers.single-container {
        margin: 16px 0;
    }
    .mobile-right-movable-content .material-icons.pull-right {
        margin-right: 15px;
    }
}
a[disabled] {
    cursor: not-allowed;
    color: darkgray;
}
.overflow-y {
    overflow-y: auto;
}