<div ng-controller="AccessLogController" ng-cloak>
    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__actions">
                <div class="mdl-grid">
                    <h2 class="mdl-card__title-text mdl-cell--3-col">{{pageTitle}}</h2>
                    <div class="mdl-cell mdl-cell--9-col audit-filter">
                        <form name="audit_filter" class="audit_filter" ng-submit="doFilter(filterData)">
                            <button type="reset" ng-click="filterData = undefined" onclick="$('label.filter_user, label.filter_authsuccess').show();" class="mdl-button--colored-blue actionbar-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right">Clear</button>
                            <button type="submit" class="mdl-button--colored-blue actionbar-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right">
                                <i class="material-icons">replay</i> Filter
                            </button>
                            <div class="input-group mdl-cell--1-col pull-right mobile-right-movable-content">
                                <!-- <i class="material-icons pull-right">search</i> -->
                                <div class="mdl-textfield mdl-js-textfield pull-right">
                                   <!--  <input class="mdl-textfield__input" type="text" id="search" ng-model="filterData.vvalue" placeholder="Search Value"/>
                                    <label class="mdl-textfield__label" for="search"></label> -->
                                </div>
                            </div>
                            <div class="mdl-cell mdl-cell--3-col selectbox mdl-textfield mdl-js-textfield pull-right mobile-right-movable-content">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <label class="mdl-textfield__label filter_authsuccess" for="filter_authsuccess">Is Auth Success</label>
                                    <select id="filter_authsuccess" class="mdl-textfield__input" name="filter_authsuccess" onchange="$(this).prev().hide();" ng-model="filter.auth">
                                        <option value="2">Auth Success</option>
                                        <option value="1">Auth Failed</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-cell--4-col selectbox mdl-textfield mdl-js-textfield pull-right mobile-right-movable-content">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <!--<label class="mdl-textfield__label filter_user" for="filter_user">User</label>-->
                                    <select id="filter_user" class="mdl-textfield__input" name="filter_user" onchange="$(this).prev().hide();" ng-model="filter.userid">
                                        <option value="all">All Users</option>
                                        <option value="{{user.emailAddress}}" ng-repeat="user in userList">{{user.firstName + ' ' + user.lastName}}</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="overflow-x">
                <table class="mdl-data-table mdl-js-data-table">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">User</th>
                        <th class="mdl-data-table__cell--non-numeric">Application</th>
                        <th class="mdl-data-table__cell--non-numeric">Accessed Time</th>
                        <th class="mdl-data-table__cell--center-text">Is Auth Success?</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="log in accessList">
                            <td class="mdl-data-table__cell--non-numeric">{{log.username}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{log.applicationName ? log.applicationName : "NameNotAvailable"}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{log.accessedTime | date : 'dd-MM-yyyy hh:mm a'}}</td>
                            <td class="mdl-data-table__cell--center-text">{{log.isAuthSuccess ? 'Yes' : 'No'}}</td>
                        </tr>
                        <tr ng-hide="accessList[0] || showProgress">
                            <td colspan="7" class="mdl-data-table__cell--center-text">No Access logs found. Please try changing filters</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="showProgress" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        </div>
        <div class="pagination">
            <button ng-disabled="noNext || showProgress" ng-click="callNextPage(1)" class="mdl-button--colored-blue actionbar-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right">
                Next <i class="material-icons">navigate_next</i>
            </button>
            <label class="pull-right mdl-color-text--white page-no-text">Page {{page}}</label>
            <button ng-disabled="noPrevious || showProgress || page == 1" ng-click="callNextPage(-1)" class="mdl-button--colored-blue actionbar-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right">
                <i class="material-icons">navigate_before</i> Previous
            </button>
        </div>
    </div>
</div>