<script type="text/ng-template" id="/overview.html">
    <label>Overview</label>
    <ul class="overview-list">
        <li ng-show="selectedData.step1.finalUsers[0]">
            <i class="fa fa-minus-circle"></i>
            <b>Users</b>
            <ul>
                <li ng-repeat="user in selectedData.step1.finalUsers">{{user.firstName}} {{user.lastName}}</li>
            </ul>
        </li>
    </ul>
</script>
<div class="add-popup-backdrop" ng-show="addPolicyToggle"></div>
<div class="add-popup-box add-policy-wizard overflow-y mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-show="addPolicyToggle">
    <div class="mdl-card mdl-shadow--2dp general-form">
        <div class="mdl-card__title">
            <h2>{{isEdit ? 'Update' : 'Add'}} User</h2>
            <div class="mdl-card__subtitle">{{isEdit ? 'Update' : 'Add new'}} User for device</div>
            <button class="mdl-button mdl-button--icon close-wizard-btn mdl-js-ripple-effect" ng-click="toggleAddBox()">
                <i class="material-icons">close</i>
            </button>
        </div>
        <div class="mdl-card__supporting-text">
           <!--  <div class="steps-container">
                <div class="steps">
                    <span class="circle step1" ng-class="{'active' : data.currentStep == 1, 'checked' : data.currentStep > 1}">
                        <label>User</label>
                        <i class="fa fa-check"></i>
                    </span>
                   
                </div>
            </div> -->
            <form name="policy_wizard_form">
                <div ng-switch on="data.currentStep">
                    <div class="mdl-grid no-margin input-containers" ng-switch-when="1">
                        <div class="mdl-cell mdl-cell--3-col sub-containers">
                            <ul class="first-list">
                                <li ng-class="{active : stepActives.step1 == 'user'}" ng-click="stepActives.step1 = 'user'">Users</li>
                            </ul>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col sub-containers with-padding light-container">
                            <div ng-show="stepActives.step1 == 'user'">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label lite">
                                    <input type="text" class="mdl-textfield__input" id="user_name" name="attribute_name" ng-model="searchUsers" autocomplete="off" placeholder="Search Users">
                                    <!--<label class="mdl-textfield__label" for="user_name">Search Users</label>-->
                                </div>
                                <ul class="checkbox-list no-margin">
                                    <li ng-repeat="user in (userList | filter:searchUsers) track by $index">
                                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" ng-class="{'is-checked' : selectedData.step1.users[user.id]}" for="usr{{user.id}}">
                                            <input type="checkbox" class="mdl-checkbox__input" id="usr{{user.id}}" ng-model="selectedData.step1.users[user.id]" ng-change="addRemoveItem(selectedData.step1.users[user.id], user, 'users')">
                                            <span class="mdl-checkbox__label">{{user.firstName}} {{user.lastName}}</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--3-col sub-containers with-padding">
                            <ng-include src="'/overview.html'"></ng-include>
                        </div>
                    </div>
                    
                   
                    
                    
                    

                </div>
            </form>
            <div class="action-buttons">
               <!--  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-blue mdl-js-ripple-effect pull-left" ng-show="data.currentStep > 1" ng-click="data.currentStep = data.currentStep-1">
                    <i class="material-icons">arrow_back</i>
                    Previous
                </button> -->
                <!-- <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-blue mdl-js-ripple-effect pull-right" ng-show="data.currentStep < 8" ng-click="data.currentStep = data.currentStep+1" ng-disabled="data.currentStep == 3 && selectedData.step3.finalCountries.length == 0">
                    Next
                    <i class="material-icons">arrow_forward</i>
                </button> -->
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-green mdl-js-ripple-effect pull-right" ng-show="data.currentStep == 1" ng-click="submitCreatePolicy()" ng-disabled="!selectedData.step8.policyName || !selectedData.step8.policyDescription || savingPolicy || policy_wizard_form.$invalid || policy_wizard_form.policy_name.$invalidFormat">
                    <i class="material-icons">save</i>
                    Add User
                </button>
            </div>
            <div ng-show="showProgressAddEdit" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        </div>
    </div>
</div>