<div ng-controller="AddStandardController" ng-cloak>
    <div class="container">
        <div class="users_section">
            <div class="row">
                <ng-include src="'templates/views/side-menu.html'"></ng-include>
                <div id="right_main_content" class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                    <div class="bread_crumbs">
                        <ul class="list-inline">
                            <li><a href="javascript:void(0);">Home /</a></li>
                            <li><a ui-sref="standards">Standards /</a></li>
                            <li><a class="active" href="javascript:void(0);">Add Standard</a></li>
                        </ul>
                    </div><!-- //bread_crumbs -->
                    <div class="users_table">
                        <div class="table_top_section">
                            <div class="table_top_section_headding-left pull-left  col-md-4">
                                <h1>Add Standard</h1>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <!-- add_new -->
                        <div class="add_new_row">
                            <form class="col-md-6 col-md-offset-1" name="addstandard_form" ng-submit="submitAddStandard(standardData)">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label>Standard Name</label>
                                        <input type="text" name="standard_name" ng-model="standardData.name" ng-change="validateAlphaDotString(standardData.name, addstandard_form.standard_name)" placeholder="Standard name" class="form-control" required>
                                        <!--<p class="error-label" ng-show="addstandard_form.standard_name.$error.required && !addstandard_form.standard_name.$invalidFormat">Required</p>-->
                                        <p class="error-label" ng-show="!addstandard_form.standard_name.$error.required && addstandard_form.standard_name.$invalidFormat">Only characters and dot(.) allowed</p>
                                    </div>
                                    <div class="form-group  col-md-12">
                                        <label>Standard Description</label>
                                        <textarea class="form-control" ng-model="standardData.description" name="standard_desc" required></textarea>
                                    </div>
                                </div>
                                <!--<div class="row">
                                    <div class="form-group col-md-12">
                                        <label>Policies</label>
                                        <autocomplete data="policies" attr-input-class="form-control" on-select="policySelected" ng-model="policyName" attr-placeholder="Search policy"></autocomplete>
                                        <div class="selected_standards">
                                            <div class="selected_grid" ng-repeat="policy in selectedPolicy">
                                                <span class="selected_grid-left col-xs-10">{{policy.text}}</span>
                                                <span class="selected_grid-right col-xs-2"><a ng-click="deleteItem('Policy', policy.id)" href="javascript:void(0);">delete</a></span>
                                                <div class="clearfix"> </div>
                                            </div>
                                            <div ng-hide="selectedPolicy[0]">No policies selected</div>
                                        </div>
                                    </div>
                                </div>-->
                                <div class="row">
                                    <div class="login_buttons col-md-10">
                                        <input class="btn_nor" type="submit" value="Save" ng1-disabled="addstandard_form.$invalid" />
                                        <input class="btn_dark" type="reset" ui-sref="standards" value="Cancel" />
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                            </form>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>