<script type="text/ng-template" id="attributeDetail.html">  

    <label>Overview</label>
    <ul class="overview-list">
         <li ng-show="attributeData.listAliases.length > 0">
            <i class="fa fa-minus-circle"></i>
            <b>Domains</b>
            <div>
                <li ng-repeat="alias in attributeData.listAliases">{{alias}}</li>
            </div>
        </li> 
         <li ng-show="attributeData.iconUrl > 0">
            <i class="fa fa-minus-circle"></i>
            <b>Icon Url</b>
            <div>{{attributeData.iconUrl}}</div>
        </li>
		
        <li ng-show="attributeData.attributeName && data.currentStep > 1">
            <i class="fa fa-minus-circle"></i>
            <b>Service Name</b>
            <div>{{attributeData.attributeName}}</div>
        </li>
    </ul>
</script>

<div class="add-popup-backdrop" ng-show="addAttributeToggle"></div>
<div class="add-popup-box add-policy-wizard add-attribute-wizard mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-show="addAttributeToggle">
    <div class="mdl-card mdl-shadow--2dp general-form">
        <div class="mdl-card__title">
            <h2>{{editId ? 'Update' : 'Create'}} Service</h2>
            <div class="mdl-card__subtitle">{{editId ? 'Update' : 'Add new'}} Service for system</div>
            <button class="mdl-button mdl-button--icon close-wizard-btn mdl-js-ripple-effect" ng-click="toggleAddBox()">
                <i class="material-icons">close</i>
            </button>
        </div>
        <div class="mdl-card__supporting-text">
            <div class="steps-container attribute-steps">
                <div class="steps">
                    <span class="circle step1" ng-class="{'active' : data.currentStep == 1, 'checked' : data.currentStep > 1}">
                        <label>Name</label>
                        <i class="fa fa-check"></i>
                    </span>
                    <span class="cprogress step1" ng-class="{'filled' : data.currentStep > 1}"></span>
                    <span class="circle step2" ng-class="{'active' : data.currentStep == 2, 'checked' : data.currentStep > 2}">
                        <label style="margin-left: -20px;">Icon Url</label>
                        <i class="fa fa-check"></i>
                    </span>
                    <span class="cprogress step2" ng-class="{'filled' : data.currentStep > 2}"></span>
                    <span class="circle step3" ng-class="{'active' : data.currentStep == 3, 'checked' : data.currentStep > 3}">
                        <label>Domains</label>
                        <i class="fa fa-check"></i>
                    </span>
                </div>
            </div>
            <form name="attribute_wizard_form">
                <div ng-switch on="data.currentStep">
                    <div class="mdl-grid no-margin input-containers" ng-switch-when="1">
                        <div class="mdl-cell mdl-cell--12-col single-container sub-containers with-padding light-container form">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--10-col mdl-textfield lite" ng-class="#">
                                    <span class="custom-textfield-label" for="attribute_name">Name</span>
                                    <input type="text" class="mdl-textfield__input" id="attribute_name" name="attribute_name" required ng-model="attributeData.attributeName" ng-keypress="($event.which === 13)?data.currentStep = data.currentStep+1:0" placeholder="Service Name" >
                                    <label class="attribute_name mdl-textfield__error">Required *</label>
                                    <label class="mdl-textfield__error custom-err-msg" ng-show="!attribute_wizard_form.attribute_name.$error.required && attribute_wizard_form.attribute_name.$invalidFormat">Only characters and dot(.) allowed</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-grid no-margin input-containers" ng-switch-when="2">
                        <div class="mdl-cell mdl-cell--9-col single-container sub-containers with-padding light-container form" style="margin-right: 30px;">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--10-col mdl-textfield lite" ng-class="{'is-invalid' :!attributeData.iconUrl}">
                                    <span class="custom-textfield-label" for="attribute_regex">Icon Url</span>
                                    <input type="text" class="mdl-textfield__input" id="iconUrl"  ng-model="attributeData.iconUrl" ng-keypress="($event.which === 13)?data.currentStep = data.currentStep+1:0" placeholder="Enter Icon Url..." ng-change1="validateAlphaDotString(attributeData.iconUrl, attribute_wizard_form.iconUrl)">
                                    <!--span class="mdl-list__item-primary-content"> {{attributeData.detect_regex.detect_regex}}</span-->

                                    <span class="custom-textfield-label" for="attribute_regex">Description</span>
                                    <input type="text" class="mdl-textfield__input"  placeholder="Enter Description..." >
                                    <!--span class="mdl-list__item-primary-content"> {{attributeData.detect_regex.detect_regex}}</span-->
                               </div>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--3-col sub-containers with-padding">
                            <ng-include src="'attributeDetail.html'"></ng-include>
                        </div>
                    </div>
                    <div class="mdl-grid no-margin input-containers" ng-switch-when="3">
                        <div class="mdl-cell mdl-cell--3-col sub-containers">
                            <ul class="first-list">
                                <li class="active">Domains</li>
                            </ul>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col sub-containers with-padding light-container">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--7-col no-margin mdl-textfield mdl-js-textfield mdl-textfield--floating-label lite">
                                    <input type="text" class="mdl-textfield__input" ng-model="data.newAlias" name="alias_name" id="alias_name" ng-keypress="($event.which === 13)?addAlias(data.newAlias):0" placeholder="Enter Domian..." ng-change="validateAlphaDotString(data.newAlias, attribute_wizard_form.alias_name)">
                                    <label class="mdl-textfield__label" for="attribute_name">New Domain</label>
                                    <label class="mdl-textfield__error custom-err-msg" ng-show="!attribute_wizard_form.alias_name.$error.required && attribute_wizard_form.alias_name.$invalidFormat">Only characters and dot(.) allowed</label>
                                </div>
                                <div class="mdl-cell mdl-cell--4-col add-alias-action-btn">
                                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-blue mdl-js-ripple-effect" ng-click="addAlias(data.newAlias)" ng-disabled="!attribute_wizard_form.alias_name.$error.required && attribute_wizard_form.alias_name.$invalidFormat">
                                        <!--<i class="material-icons">add_circle_outline</i>-->
                                        Add
                                    </button>
                                </div>
                            </div>
                            <div class="alias-list">
                                <ul class="mdl-list">
                                    <li class="mdl-list__item" ng-repeat="alias in attributeData.listAliases track by $index">
                                        <span class="mdl-list__item-primary-content">
                                          {{alias}}
                                        </span>
                                        <a ng-click="removeAlias(alias)" class="mdl-list__item-secondary-action"><i class="fa fa-trash"></i></a>
                                    </li>
                                </ul>
                                <label ng-show="attributeData.listAliases.length == 0">No domain created</label>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--3-col sub-containers with-padding">
                            <ng-include src="'attributeDetail.html'"></ng-include>
                        </div>
                    </div>
                   
					 
                </div>
            </form>
            <div class="action-buttons">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-blue mdl-js-ripple-effect pull-left" ng-show="data.currentStep > 1" ng-click="data.currentStep = data.currentStep-1">
                    <i class="material-icons">arrow_back</i>
                    Previous
                </button>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-blue mdl-js-ripple-effect pull-right" ng-show="data.currentStep < 3" ng-click="data.currentStep = data.currentStep+1" ng-disabled="(data.currentStep == 1 && (!attributeData.attributeName || attribute_wizard_form.attribute_name.$invalidFormat)) || (data.currentStep == 3 && (!attributeData.listAliases || attributeData.listAliases.length == 0))">
                    Next
                    <i class="material-icons">arrow_forward</i>
                </button>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-green mdl-js-ripple-effect pull-right" ng-show="data.currentStep == 3" ng-click="submitCreateAttribute()" ng-disabled="savingAttribute || attribute_wizard_form.$invalid">
                    <i class="material-icons">save</i>
                    {{editId ? 'Update' : 'Submit'}} Service
                </button>
            </div>
            <div ng-show="savingAttribute" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        </div>
    </div>
</div>