<div ng-controller="ConfigController" ng-cloak>
    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-card mdl-shadow--2dp general-form">
            <div class="mdl-card__title">
                <h2>User configurations</h2>
                <div class="mdl-card__subtitle">System user configuration</div>
            </div>
            <div class="mdl-card__supporting-text">
                <form class="form" ng-submit="submitUserConfig(userData)">
                    <div class="form__article">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" id="user_name" name="user_name" ng-model="userData.name" required>
                                <label class="mdl-textfield__label" for="user_name">Name</label>
                                <span class="user_firstname mdl-textfield__error">Required *</span>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" id="user_contact" name="user_contact" ng-model="userData.contact" required>
                                <label class="mdl-textfield__label" for="user_contact">Contact number</label>
                                <span class="user_firstname mdl-textfield__error">Required *</span>
                            </div>
                        </div>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" id="user_password" name="user_password" ng-model="userData.password" required>
                                <label class="mdl-textfield__label" for="user_password">Password</label>
                                <span class="user_firstname mdl-textfield__error">Required *</span>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" id="user_re_password" name="user_re_password" ng-model="userData.re_password" required>
                                <label class="mdl-textfield__label" for="user_re_password">Re-Password</label>
                                <span class="user_firstname mdl-textfield__error">Required *</span>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="mdl-typography--text-center mobile-left-movable-content">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-blue" name="user_submit">
                                <i class="material-icons">check</i>
                                Save
                            </button>
                            <button type="reset" ui-sref="groups" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-blue" name="user_submit">
                                <i class="material-icons">cancel</i>
                                Cancel
                            </button>
                        </div>
                        <br/>
                        <div ng-show="showProgress" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--
<div ng-controller="ConfigController" ng-cloak>
    <div class="container">
        <div class="users_section">
            <div class="row">
                <ng-include src="'templates/views/side-menu.html'"></ng-include>
                <div id="right_main_content" class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                    <div class="bread_crumbs">
                        <ul class="list-inline">
                            <li><a href="javascript:void(0);">Home /</a></li>
                            <li><a class="active" href="javascript:void(0);">Config</a></li>
                        </ul>
                    </div>
                    <div class="users_table">
                        <div class="table_top_section">
                            <div class="table_top_section_headding-left pull-left  col-md-4">
                                <h1>User configurations</h1>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="add_new_row">
                            <form class="col-md-6 col-md-offset-1" name="add_user_form" ng-submit="submitUserConfig(userData)">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label>Name</label>
                                        <input type="text" name="user_name" ng-model="userData.name" class="form-control" required>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>Contact number</label>
                                        <input type="tel" name="user_contact" ng-model="userData.contact" class="form-control" required>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>Password</label>
                                        <input type="password" name="user_password" ng-model="userData.password" class="form-control" required>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>Re-Password</label>
                                        <input type="password" name="user_re_password" ng-model="userData.re_password" class="form-control" required>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="login_buttons col-md-10">
                                        <input class="btn_nor" type="submit" ui-sref="listusers" value="Save" />
                                        <input class="btn_dark" type="reset" ui-sref="listusers" value="Cancel" />
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                            </form>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>-->
