<div ng-controller="DashboardController" ng-cloak>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col-desktop"></div>
        <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone text-right">
            <form name="audit_filter" class="audit_filter" ng-submit="doFilter(filterData)">
                <div class="mdl-textfield mdl-js-textfield getmdl-select mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" ng-model="filterData.daterange" id="filterby" readonly tabIndex="-1"/>
                    <label for="filterPerformanceBy" class="mdl-textfield__label">Filter by Time</label>
                    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu dark_dropdown" for="filterby">
                        <li class="mdl-menu__item" ng-click="filterData.daterange = 'Past Week'">Past Week</li>
                        <li class="mdl-menu__item" ng-click="filterData.daterange = 'Past Month'">Past Month</li>
                    </ul>
                    <label for="filterby">
                        <i class="mdl-icon-toggle__label material-icons">arrow_drop_down</i>
                    </label>
                </div>
                <button type="submit" class="mdl-button--colored-blue actionbar-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                    <i class="material-icons">replay</i> Filter
                </button>
            </form>
        </div>
    </div>
    <div class="mdl-grid state-tiles">
        <div class="mdl-cell mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--3-col-phone">
            <div class="mdl-card mdl-shadow--2dp weather">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Total Policies</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <p class="weather-temperature">{{stats.totalPolicies || 0}}</p>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--3-col-tablet mdl-cell--3-col-phone">
            <div class="mdl-card mdl-shadow--2dp weather">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Supported Data Attributes</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <p class="weather-temperature">{{stats.supportedAttributes || 0}}</p>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--3-col-tablet mdl-cell--3-col-phone">
            <div class="mdl-card mdl-shadow--2dp weather">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Actions Taken</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <p class="weather-temperature">{{stats.actionsTaken || 0}}</p>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--3-col-phone">
            <div class="mdl-card mdl-shadow--2dp weather">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Decrypted</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <p class="weather-temperature">{{stats.decrypted || 0}}</p>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--3-col-phone">
            <div class="mdl-card mdl-shadow--2dp weather">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Masked</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <p class="weather-temperature">{{stats.masked || 0}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <div class="mdl-card mdl-shadow--2dp dashboard-widgets">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">
                                Latest Invalid Logins
                            </h2>
                        </div>
                        <div class="mdl-card__supporting-text chart-box">
                            <table class="mdl-data-table mdl-js-data-table">
                                <thead>
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric">User</th>
                                    <th class="mdl-data-table__cell--non-numeric">Application</th>
                                    <th class="mdl-data-table__cell--non-numeric">Accessed Time</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="login in latestFailedLogins track by $index">
                                    <td class="mdl-data-table__cell--non-numeric">{{login.username}}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{login.applicationName ? login.applicationName : login.applicationId}}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{login.accessedTime | date : 'dd-MM-yy HH:mm a'}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="clearfix"></div>
                            <div ng-hide="latestFailedLogins[0]" class="no-data-chart">
                                <div class="mdl-typography--text-center">No Failed Login Logs available</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <div class="mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">Most Active Users</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <div ng-hide="labels.pie[0]" class="no-data-chart">
                                <div class="mdl-typography--text-center">No Chart Data available</div>
                            </div>
                            <canvas id="pie" class="chart chart-pie" height="100px"
                                    chart-data="data.pie" chart-labels="labels.pie" chart-options="options.pie">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <div class="mdl-card mdl-shadow--2dp dashboard-widgets">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">
                                Top Application by Data
                            </h2>
                        </div>
                        <div class="mdl-card__supporting-text chart-box">
                            <div ng-hide="labels.pieTopAppData[0]" class="no-data-chart">
                                <div class="mdl-typography--text-center">No Chart Data available</div>
                            </div>
                            <canvas id="lineAppByData" class="chart chart-pie" chart-data="data.pieTopAppData" ng-show="labels.pieTopAppData[0]"
                                    chart-labels="labels.pieTopAppData" chart-options="options.pieTopAppData">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <div class="mdl-card mdl-shadow--2dp dashboard-widgets">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">
                                Top Location
                            </h2>
                        </div>
                        <div class="mdl-card__supporting-text chart-box">
                            <table class="mdl-data-table mdl-js-data-table">
                                <thead>
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric">Location</th>
                                    <!--<th class="mdl-data-table__cell&#45;&#45;non-numeric">Count</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="location in topLocationList track by $index" ng-if="$index < 5">
                                    <td class="mdl-data-table__cell--non-numeric">{{location.name}}</td>
                                    <!--<td class="mdl-data-table__cell&#45;&#45;non-numeric">{{location.count}}</td>-->
                                </tr>
                                </tbody>
                            </table>
                            <div class="clearfix"></div>
                            <div ng-hide="topDeviceList[0]" class="no-data-chart">
                                <div class="mdl-typography--text-center">No Location Data available</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <div class="mdl-card mdl-shadow--2dp dashboard-widgets status">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">
                                Server Status
                            </h2>
                            <div class="clearfix"></div>
                            <a class="status-spinner" ng-click="getHeartBeatData()"><i class="fa fa-refresh" ng-class="{'fa-spin' : loadingHeartBeat}"></i></a>
                        </div>
                        <div class="mdl-card__supporting-text">
                            Auth Server
                            <led class="pull-right" ng-class="{'green' : serverStatusHeartBeat['AS'], 'red' : !serverStatusHeartBeat['AS']}"></led>
                            <div class="clearfix"></div>
                            Policy Engine
                            <led class="pull-right" ng-class="{'green' : serverStatusHeartBeat['pe'], 'red' : !serverStatusHeartBeat['pe']}"></led>
                            <div class="clearfix"></div>
                            Data Safe Server
                            <led class="pull-right" ng-class="{'green' : serverStatusHeartBeat['dss'], 'red' : !serverStatusHeartBeat['dss']}"></led>
                            <div class="clearfix"></div>
                            Data Security Workflow Controller
                            <led class="pull-right" ng-class="{'green' : serverStatusHeartBeat['dswc'], 'red' : !serverStatusHeartBeat['dswc']}"></led>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <div class="mdl-card mdl-shadow--2dp dashboard-widgets">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">
                                Latest Policy Violations
                            </h2>
                        </div>
                        <div class="mdl-card__supporting-text chart-box" >
                            <table class="mdl-data-table mdl-js-data-table" style="white-space:normal; word-break: break-word;">
                                <thead>
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric">User</th>
                                    <th class="mdl-data-table__cell--non-numeric">Field Value</th>
                                    <th class="mdl-data-table__cell--non-numeric">Application</th>
									<th class="mdl-data-table__cell--non-numeric">Accessed Time</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="vpolicy in latestViolatedPolicies track by $index">
                                    <td class="mdl-data-table__cell--non-numeric">{{vpolicy.userEmail | limitTo: 20}}{{vpolicy.userEmail.length > 20 ? '...' : ''}}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{vpolicy.dataValue | limitTo: 20}}{{vpolicy.dataValue.length > 20 ? '...' : ''}}</td>
                                    <td class="mdl-data-table__cell--non-numeric">{{vpolicy.applicationName}}</td>
									<td class="mdl-data-table__cell--non-numeric">{{vpolicy.dateTimeStamp | date : 'dd-MMM-yyyy hh:mm a'}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="clearfix"></div>
                            <div ng-hide="latestViolatedPolicies[0]" class="no-data-chart">
                                <div class="mdl-typography--text-center">No Failed Login Logs available</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <div class="mdl-card mdl-shadow--2dp dashboard-widgets">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">
                                Top Application by User
                            </h2>
                        </div>
                        <div class="mdl-card__supporting-text chart-box">
                            <div ng-hide="labels.barTopAppUser[0]" class="no-data-chart">
                                <div class="mdl-typography--text-center">No Chart Data available</div>
                            </div>
                            <canvas id="lineTopAppUser" class="chart chart-bar" chart-data="data.barTopAppUser" ng-show="labels.barTopAppUser[0]"
                                    chart-labels="labels.barTopAppUser" chart-series="series.barTopAppUser" chart-options="options.barTopAppUser"
                                    chart-dataset-override="datasetOverride.barTopAppUser">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <div class="mdl-card mdl-shadow--2dp dashboard-widgets">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">
                                Top Time of Access
                            </h2>
                        </div>
                        <div class="mdl-card__supporting-text chart-box">
                            <div ng-hide="labels.lineTopTimeOfAccessChart[0]" class="no-data-chart">
                                <div class="mdl-typography--text-center">No Chart Data available</div>
                            </div>
                            <canvas id="lineTopTimeOfAccessChart" class="chart chart-line" chart-data="data.lineTopTimeOfAccessChart" ng-show="labels.lineTopTimeOfAccessChart[0]"
                                    chart-labels="labels.lineTopTimeOfAccessChart" chart-series="series.lineTopTimeOfAccessChart" chart-options="options.lineTopTimeOfAccessChart"
                                    chart-dataset-override="datasetOverride.lineTopTimeOfAccessChart">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <div class="mdl-card mdl-shadow--2dp dashboard-widgets">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">
                                Top Devices
                            </h2>
                        </div>
                        <div class="mdl-card__supporting-text chart-box">
                            <table class="mdl-data-table mdl-js-data-table">
                                <thead>
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric">Name</th>
                                    <!--<th class="mdl-data-table__cell&#45;&#45;non-numeric">Count</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="device in topDeviceList track by $index" ng-if="$index < 5">
                                        <td class="mdl-data-table__cell--non-numeric">{{device.name}}</td>
                                        <!--<td class="mdl-data-table__cell&#45;&#45;non-numeric">{{device.count}}</td>-->
                                    </tr>
                                </tbody>
                            </table>
                            <div class="clearfix"></div>
                            <div ng-hide="topDeviceList[0]" class="no-data-chart">
                                <div class="mdl-typography--text-center">No Device Data available</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <div class="mdl-card mdl-shadow--2dp dashboard-widgets">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">
                                Avg. module performance
                            </h2>
                        </div>
                        <div class="mdl-card__supporting-text chart-box">
                            <div class="mdl-textfield mdl-js-textfield getmdl-select mdl-textfield--floating-label fa-pull-right">
                                <input class="mdl-textfield__input" type="text" ng-model="performanceModuleFilter" id="filterPerformanceBy" readonly tabIndex="-1"/>
                                <label for="filterPerformanceBy" class="mdl-textfield__label">Module</label>
                                <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu dark_dropdown" for="filterPerformanceBy">
                                    <li class="mdl-menu__item" ng-click="performanceModuleFilter = 'PE';processPerformanceChart(performanceModuleFilter);">PE</li>
                                    <li class="mdl-menu__item" ng-click="performanceModuleFilter = 'DSWC';processPerformanceChart(performanceModuleFilter);">DSWC</li>
                                    <li class="mdl-menu__item" ng-click="performanceModuleFilter = 'AUTH';processPerformanceChart(performanceModuleFilter);">Auth</li>
                                    <li class="mdl-menu__item" ng-click="performanceModuleFilter = 'DSS';processPerformanceChart(performanceModuleFilter);">DSS</li>
                                    <li class="mdl-menu__item" ng-click="performanceModuleFilter = 'SDK';processPerformanceChart(performanceModuleFilter);">SDK</li>
                                </ul>
                                <label for="filterPerformanceBy">
                                    <i class="mdl-icon-toggle__label material-icons">arrow_drop_down</i>
                                </label>
                            </div>
                            <div class="clearfix"></div>
                            <div ng-hide="labels.linePerformance[0]" class="no-data-chart">
                                <div class="mdl-typography--text-center">No Chart Data available</div>
                            </div>
                            <canvas id="linePerformance" class="chart chart-line" chart-data="data.linePerformance" ng-show="labels.linePerformance[0]"
                                    chart-labels="labels.linePerformance" chart-series="series.linePerformance" chart-options="options.linePerformance"
                                    chart-dataset-override="datasetOverride.linePerformance" chart-click="onClick">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>