<div ng-controller="DeploymentController" ng-cloak>
    <form name="controllerUIForm" ng-submit="submitDeploymentInfo(this)" ng-hide="isDeployed">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--12-col-phone">
                <div class="mdl-card mdl-shadow--2dp pie-chart">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Data Security Work Flow Controller</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <div class="form__article">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input type="text" class="mdl-textfield__input" id="serverIPAddDSWFC" name="serverIPAddDSWFC" ng-model="serverIp[0]" required ng-disabled="deploying">
                                    <label class="mdl-textfield__label" for="serverIPAddDSWFC">Server IP Address</label>
                                    <span class="serverIPAddDSWFC mdl-textfield__error">Required *</span>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input type="text" class="mdl-textfield__input" name="serverUsernameDSWFC" id="serverUsernameDSWFC" ng-model="serverUsername[0]" required ng-disabled="deploying">
                                    <label class="mdl-textfield__label" for="serverUsernameDSWFC">Server username</label>
                                    <span class="serverUsernameDSWFC mdl-textfield__error">Required *</span>
                                </div>
                            </div>
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="{'is-dirty' : serverFile[0] != null, 'is-invalid' : serverFile[0] == null}">
                                    <input type="file" class="mdl-textfield__input" name="serverPemFileDSWFC" id="serverPemFileDSWFC" accept=".pem" fileread="serverFile[0]" required ng-disabled="deploying">
                                    <label class="mdl-textfield__label" for="serverPemFileDSWFC">.pem File</label>
                                    <span class="serverPemFileDSWFC mdl-textfield__error">Required *</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--12-col-phone">
                <div class="mdl-card mdl-shadow--2dp pie-chart">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Data Security Server</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <div class="form__article">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input type="text" class="mdl-textfield__input" id="serverIPAddDSS" name="serverIPAddDSS" ng-model="serverIp[1]" required ng-disabled="deploying">
                                    <label class="mdl-textfield__label" for="serverIPAddDSS">Server IP Address</label>
                                    <span class="serverIPAddDSS mdl-textfield__error">Required *</span>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input type="text" class="mdl-textfield__input" name="serverUsernameDSS" id="serverUsernameDSS" ng-model="serverUsername[1]" required ng-disabled="deploying">
                                    <label class="mdl-textfield__label" for="serverUsernameDSS">Server username</label>
                                    <span class="serverUsernameDSS mdl-textfield__error">Required *</span>
                                </div>
                            </div>
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="{'is-dirty' : serverFile[1] != null, 'is-invalid' : serverFile[1] == null}">
                                    <input type="file" class="mdl-textfield__input" name="serverPemFileDSS" id="serverPemFileDSS" accept=".pem" fileread="serverFile[1]" required ng-disabled="deploying">
                                    <label class="mdl-textfield__label" for="serverPemFileDSS">.pem File</label>
                                    <span class="serverPemFileDSS mdl-textfield__error">Required *</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--12-col-phone">
                <div class="mdl-card mdl-shadow--2dp pie-chart">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Policy Engine</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <div class="form__article">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input type="text" class="mdl-textfield__input" id="serverIPAddPE" name="serverIPAddPE" ng-model="serverIp[2]" required ng-disabled="deploying">
                                    <label class="mdl-textfield__label" for="serverIPAddPE">Server IP Address</label>
                                    <span class="serverIPAddPE mdl-textfield__error">Required *</span>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input type="text" class="mdl-textfield__input" name="serverUsernamePE" id="serverUsernamePE" ng-model="serverUsername[2]" required ng-disabled="deploying">
                                    <label class="mdl-textfield__label" for="serverUsernamePE">Server username</label>
                                    <span class="serverUsernamePE mdl-textfield__error">Required *</span>
                                </div>
                            </div>
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="{'is-dirty' : serverFile[2] != null, 'is-invalid' : serverFile[2] == null}">
                                    <input type="file" class="mdl-textfield__input" name="serverPemFilePE" id="serverPemFilePE" accept=".pem" fileread="serverFile[2]" required ng-disabled="deploying">
                                    <label class="mdl-textfield__label" for="serverPemFilePE">.pem File</label>
                                    <span class="serverPemFilePE mdl-textfield__error">Required *</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="mdl-grid">
            <div class="mdl-cell--2-offset mdl-cell--8-col">
                <div class="mdl-typography--text-center">
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-blue" name="user_submit" ng-disabled="controllerUIForm.$invalid || !serverFile[0] || !serverFile[1] || !serverFile[2] || deploying">
                        <i class="material-icons">cloud_upload</i>&nbsp;&nbsp;Submit
                    </button>
                </div>
                <br/>
                <div ng-show="showProgress || deploying" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
            </div>
        </div>
    </form>
    <div ng-show="isDeployed">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                <div class="mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Data Security Work Flow Controller</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <ul class="mdl-list">
                            <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content list__item-text">IP (Host)</span>
                                <span class="mdl-list__item-secondary-content trending__percent">{{deploymentUrl[0]}}</span>
                            </li>
                            <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content list__item-text">Username</span>
                                <span class="mdl-list__item-secondary-content trending__percent">{{deploymentUsername[0]}}</span>
                            </li>
                            <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content list__item-text">Status</span>
                                <span class="mdl-list__item-secondary-content trending__percent"><span class="DSWFC label status label--mini background-color--mint">Deployed</span></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                <div class="mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Data Security Server</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <ul class="mdl-list">
                            <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content list__item-text">IP (Host)</span>
                                <span class="mdl-list__item-secondary-content trending__percent">{{deploymentUrl[1]}}</span>
                            </li>
                            <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content list__item-text">Username</span>
                                <span class="mdl-list__item-secondary-content trending__percent">{{deploymentUsername[1]}}</span>
                            </li>
                            <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content list__item-text">Status</span>
                                <span class="mdl-list__item-secondary-content trending__percent"><span class="DSS label status label--mini background-color--mint">Deployed</span></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                <div class="mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Policy Engine</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <ul class="mdl-list">
                            <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content list__item-text">IP (Host)</span>
                                <span class="mdl-list__item-secondary-content trending__percent">{{deploymentUrl[2]}}</span>
                            </li>
                            <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content list__item-text">Username</span>
                                <span class="mdl-list__item-secondary-content trending__percent">{{deploymentUsername[2]}}</span>
                            </li>
                            <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content list__item-text">Status</span>
                                <span class="mdl-list__item-secondary-content trending__percent"><span class="PE label status label--mini background-color--mint">Deployed</span></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>