<div class="add-popup-backdrop" ng-show="editPolicyToggle"></div>
<div class="add-popup-box edit-policy-container mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-show="editPolicyToggle">
    <div class="mdl-card mdl-shadow--2dp general-form edit-policy">
        <div class="mdl-card__title">
            <h2>Update Policy</h2>
            <div class="mdl-card__subtitle">Update policy to system</div>
            <button class="mdl-button mdl-button--icon close-wizard-btn mdl-js-ripple-effect" ng-click="toggleEditBox('cancel')">
                <i class="material-icons">close</i>
            </button>
        </div>
        <div class="mdl-card__supporting-text">
            <form name="add_policy_form" ng-submit="submitAddPolicy(policyData)">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--7-col">
                        <label class="policy-label">Data attributes</label>
                        <ul class="checkbox-list-policy no-margin">
                            <li ng-repeat="attr in allAttributeList track by $index">
                                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" ng-class="{'is-checked' : policyData.dataAttributes[attr.id]}" for="attr{{attr.id}}">
                                    <input type="checkbox" class="mdl-checkbox__input" id="attr{{attr.id}}" ng-model="policyData.dataAttributes[attr.id]"/>
                                    <span class="mdl-checkbox__label">{{attr.name}}</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col">
                        <label class="policy-label">Default Response action</label>
                        <div class="radio-container">
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect mobile-left-movable-content" for="respoenc" ng-class="{'is-checked' : policyData.defaultAction == 'ENC'}">
                                <input type="radio" id="respoenc" class="mdl-radio__button" name="mask" ng-model="policyData.defaultAction" value="ENC">
                                <span class="mdl-radio__label">Encrypt</span>
                            </label>
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect mobile-left-movable-content" for="respoplain" ng-class="{'is-checked' : policyData.defaultAction == 'PLAIN'}">
                                <input type="radio" id="respoplain" class="mdl-radio__button" name="mask" ng-model="policyData.defaultAction" value="PLAIN">
                                <span class="mdl-radio__label">Plain</span>
                            </label>
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect mobile-left-movable-content" for="respomask" ng-class="{'is-checked' : policyData.defaultAction == 'MASK'}">
                                <input type="radio" id="respomask" class="mdl-radio__button" name="mask" ng-model="policyData.defaultAction" value="MASK">
                                <span class="mdl-radio__label">Mask</span>
                            </label>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col" ng-show="policyData.defaultAction == 'MASK'">
                        <label class="policy-label">Default Response action</label>
                        <div class="radio-container response-action-radio">
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="masklast4" ng-class="{'is-checked' : policyData.defaultMask == '(.*)....'}">
                                <input type="radio" id="masklast4" class="mdl-radio__button" name="maskaction" ng-model="policyData.defaultMask" value="(.*)....">
                                <span class="mdl-radio__label">Show Last 4</span>
                            </label>
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="maskfirst4" ng-class="{'is-checked' : policyData.defaultMask == '....(.*)'}">
                                <input type="radio" id="maskfirst4" class="mdl-radio__button" name="maskaction" ng-model="policyData.defaultMask" value="....(.*)">
                                <span class="mdl-radio__label">Show First 4</span>
                            </label>
                            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="maskcustom" ng-class="{'is-checked' : policyData.defaultMask == 'custom'}">
                                <input type="radio" id="maskcustom" class="mdl-radio__button" name="maskaction" ng-model="policyData.defaultMask" value="custom">
                                <span class="mdl-radio__label">Custom</span>
                            </label>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label custom-regex-input" ng-show="policyData.defaultAction == 'MASK' && policyData.defaultMask == 'custom'">
                                <input type="text" class="mdl-textfield__input" id="firstName" name="user_firstname" ng-model="policyData.maskregex" ng-required="policyData.defaultAction == 'MASK' && policyData.defaultMask == 'custom'">
                                <label class="mdl-textfield__label" for="firstName">Custom Regex Pattern</label>
                            </div>
                            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-blue mdl-js-ripple-effect test-button" ng-show="policyData.maskregex" ng-click="testRegexToggle = !testRegexToggle">Test Regex</a>
                            <div class="steps-container" ng-show="testRegexToggle" style="background-color: rgba(0, 0, 0, 0.3);padding: 10px;">
                                <label><string>Test Regex Here</string></label>
                                <div class="mdl-grid">
                                    <div class="mdl-cell mdl-cell--7-col">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" type="text" id="testString" ng-model="testString">
                                            <label class="mdl-textfield__label" for="testString">Test String</label>
                                        </div>
                                    </div>
                                    <div class="mdl-cell mdl-cell--5-col" ng-show="testResultString">
                                        <span><strong>Result :</strong></span>
                                        <span class="test-result">{{testResultString}}</span>
                                    </div>
                                    <div class="mdl-cell mdl-cell--7-col">
                                        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-blue mdl-js-ripple-effect pull-left" ng-click="testCustomerRegex(testString, policyData.maskregex)">
                                            <i class="material-icons">spellcheck</i>
                                            Perform Test
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--7-col">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input type="text" class="mdl-textfield__input" id="policy_name" name="policy_name" ng-model="policyData.name" required ng-change="validateAlphaDotString(policyData.name, add_policy_form.policy_name)">
                            <label class="mdl-textfield__label" for="policy_name">Policy Name</label>
                            <span class="user_firstname mdl-textfield__error">Required *</span>
                            <label class="mdl-textfield__error custom-err-msg" ng-show="!add_policy_form.policy_name.$error.required && add_policy_form.policy_name.$invalidFormat">Only characters and dot(.) allowed</label>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--7-col">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <textarea class="mdl-textfield__input" rows="3" id="policy_desc" ng-model="policyData.description" name="policy_desc" required></textarea>
                            <label class="mdl-textfield__label" for="policy_desc">Policy Description</label>
                            <span class="user_firstname mdl-textfield__error">Required *</span>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--7-col">
                        <label class="policy-label">Operating Systems</label>
                        <ul class="checkbox-list-policy no-margin">
                            <li ng-repeat="os in listOs track by $index">
                                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" ng-class="{'is-checked' : policyData.os[os]}" for="os{{os}}">
                                    <input type="checkbox" class="mdl-checkbox__input" id="os{{os}}" ng-model="policyData.os[os]"/>
                                    <span class="mdl-checkbox__label">{{os}}</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="mdl-cell mdl-cell--7-col">
                        <label class="policy-label">Browsers</label>
                        <ul class="checkbox-list-policy no-margin">
                            <li ng-repeat="browser in listBrowsers track by $index">
                                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" ng-class="{'is-checked' : policyData.browser[browser]}" for="browser{{browser}}">
                                    <input type="checkbox" class="mdl-checkbox__input" id="browser{{browser}}" ng-model="policyData.browser[browser]"/>
                                    <span class="mdl-checkbox__label">{{browser}}</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="mdl-cell mdl-cell--7-col">
                        <label class="policy-label">Applications</label>
                        <ul class="checkbox-list-policy no-margin">
                            <li ng-repeat="app in listApps track by $index" ng-hide="!app.appName || app.appName.length == 0 || (app.appName.indexOf('O365') >= 0) || (app.appName =='Salesforce')">
                                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" ng-class="{'is-checked' : policyData.app[app.appName]}" for="app{{app.moduleId}}">
                                    <input type="checkbox" class="mdl-checkbox__input" id="app{{app.moduleId}}" ng-model="policyData.app[app.appName]"/>
                                    <span  class="mdl-checkbox__label">{{app.appName}} <!--span ng-show="!app.appName || app.appName.length == 0">{{app.moduleId}}</span--></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="mdl-cell mdl-cell--7-col">
                        <label class="policy-label">Policy Location</label>
                        <ul class="checkbox-list-policy no-margin">
                            <li ng-repeat="(val, country) in CountryList track by $index">
                                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" ng-class="{'is-checked' : policyData.location[val]}" for="country{{country}}">
                                    <input type="checkbox" class="mdl-checkbox__input" id="country{{country}}" ng-model="policyData.location[val]"/>
                                    <span class="mdl-checkbox__label">{{country}}</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="mdl-typography--text-center mobile-left-movable-content">
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-blue mdl-js-ripple-effect" ng-disabled="showProgressEdit || add_policy_form.policy_name.$invalidFormat" name="policy_submit">
                        <i class="material-icons">check</i>
                        Update Policy
                    </button>
                    <button type="reset" ng-click="toggleEditBox('cancel')" ng-disabled="showProgressEdit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-blue mdl-js-ripple-effect" name="policy_cancel">
                        <i class="material-icons">cancel</i>
                        Cancel
                    </button>
                </div>
                <br/>
                <div ng-show="showProgressEdit" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
            </form>
        </div>
    </div>
</div>