<div ng-controller="GatewaysManagementController" ng-cloak>
    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__actions">
                <div class="mdl-grid">
                    <h2 class="mdl-card__title-text mdl-cell--3-col">Gateways Management</h2>
                    <div class="mdl-cell mdl-cell--9-col">
                        <!-- <div class="mdl-cell mdl-cell--4-col selectbox mdl-textfield mdl-js-textfield pull-right mobile-right-movable-content">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <label class="mdl-textfield__label filter_user" for="filter_type">Filter</label>
                                <select class="mdl-textfield__input" name="filter_type" id="filter_type" onchange="$(this).prev().hide();" ng-model="filterData.type" ng-change="callNextPage(0, filterData.type)">
                                    <option value="all" ng-selected="filterData.type == 'all'">All</option>
                                    <option value="{{std.id}}" ng-selected="filterData.type == std.id" ng-repeat="std in standardList">{{std.name}}</option>
                                </select>
                            </div>
                        </div> -->
                        <div class="input-group mdl-cell--6-col pull-right mobile-right-movable-content">
                            <i class="material-icons pull-right">search</i>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label pull-right">
                                <input class="mdl-textfield__input" type="text" id="search" ng-model="searchAttribute" placeholder="Please enter your search key"/>
                                <label class="mdl-textfield__label" for="search"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overflow-x">
                <table class="mdl-data-table mdl-js-data-table responsive">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Name</th>
                        <th class="mdl-data-table__cell--non-numeric">Gateway Details</th>
                        <th class="mdl-data-table__cell--center-text">Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="attr in data = (attributeList | filter:searchAttribute)">
                        <td class="mdl-data-table__cell--non-numeric">{{attr.name}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{attr.aliases.join(', ')}}</td>
                        <td class="mdl-data-table__cell--center-text">
                            <a ng-click="deleteAttribute(attr.id, $event)" href="javascript:void(0)">
                                <i class="material-icons" role="presentation">delete</i>
                            </a>
                        </td>
                    </tr>
                    <tr ng-hide="data[0] || showProgress">
                        <td colspan="7" class="mdl-data-table__cell--center-text">
                            No Gateways found <br/><br/>
                            <input ng-click="toggleAddBox('add')" type="button" class="mdl-button mdl-button--colored-blue mdl-js-button mdl-button--raised mdl-js-ripple-effect" value="Add New" />
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="showProgress" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        </div>
        <div class="pagination">
            <button ng-disabled="noNext || showProgress || true" ng-click="callNextPage(1)" class="mdl-button--colored-blue actionbar-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right">
                Next <i class="material-icons">navigate_next</i>
            </button>
            <label class="pull-right mdl-color-text--white page-no-text">Page {{page}}</label>
            <button ng-disabled="noPrevious || showProgress || true" ng-click="callNextPage(-1)" class="mdl-button--colored-blue actionbar-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right">
                <i class="material-icons">navigate_before</i> Previous
            </button>
        </div>
    </div>
</div>