<div ng-controller="ImportLdapController" ng-cloak>
    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-card mdl-shadow--2dp general-form">
            <div class="mdl-card__title">
                <h2>Import Data</h2>
                <!--<div class="mdl-card__subtitle">Import Data from LDAP</div>-->
            </div>
            <div class="mdl-card__supporting-text">
                <form class="form" ng-submit="submitImportData(importData)">
                    <div class="form__article">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--10-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" id="ldap_url" name="ldap_url" ng-model="importData.ldapURL" required>
                                <label class="mdl-textfield__label" for="ldap_url">LDAP URL (ex. ldap://www.zflexldap.com:389)</label>
                                <span class="user_firstname mdl-textfield__error">Required *</span>
                            </div>
                            <div class="mdl-cell mdl-cell--10-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" id="import_base" name="import_base" ng-model="importData.base" required>
                                <label class="mdl-textfield__label" for="import_base">Base (ex. DC=zflexsoftware,DC=com)</label>
                                <span class="user_firstname mdl-textfield__error">Required *</span>
                            </div>
                        <!--</div>-->
                        <!--<div class="mdl-grid">-->
                            <div class="mdl-cell mdl-cell--10-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" id="user_dn" name="user_dn" ng-model="importData.userDN" required>
                                <label class="mdl-textfield__label" for="user_dn">UserDN (ex. cn=ro_admin,ou=sysadmins,dc=zflexsoftware,dc=com)</label>
                                <span class="user_firstname mdl-textfield__error">Required *</span>
                            </div>
                            <div class="mdl-cell mdl-cell--10-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" id="user_password" name="user_password" ng-model="importData.password" required>
                                <label class="mdl-textfield__label" for="user_password">Password (ex. zflexpass)</label>
                                <span class="user_firstname mdl-textfield__error">Required *</span>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="mdl-typography--text-center mobile-left-movable-content">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-blue" name="user_submit">
                                <i class="material-icons">check</i>
                                Save
                            </button>
                            <button type="reset" ui-sref="groups" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-blue" name="user_submit">
                                <i class="material-icons">cancel</i>
                                Cancel
                            </button>
                        </div>
                        <br/>
                        <div ng-show="showProgress" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>