<div ng-controller="IPWhiteListController" ng-cloak>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">DSWC IPs</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <div class="mdl-grid pull-right">
                        <div class="mdl-cell mdl-cell--10-col no-margin mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input type="text" class="mdl-textfield__input" ng-model="dswcIp" name="dswc_ip_name" id="dswc_ip_name" ng-keypress="($event.which === 13)?addWhiteIp('dswc', dswcIp):0">
                            <label class="mdl-textfield__label" for="dswc_ip_name">CIDR IP</label>
                        </div>
                        <button class="mdl-button add-cidr-ip-button mdl-js-button mdl-button--raised mdl-button--colored-blue mdl-js-ripple-effect" ng-click="addWhiteIp('dswc', dswcIp)">
                            <i class="material-icons">add_circle_outline</i>
                            Add
                        </button>
                    </div>
                    <table class="mdl-data-table mdl-js-data-table responsive">
                        <thead>
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric">IP/Subnet</th>
                                <th class="mdl-data-table__cell--center-text">Action</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="ip in ipListing | filter:{module : 'dswc'}">
                            <tr ng-repeat="subnet in dswcList = (ip.acceptedSubnets) track by $index">
                                <td class="mdl-data-table__cell--non-numeric">{{subnet}}</td>
                                <td class="mdl-data-table__cell--center-text">
                                    <a ng-click="deleteSubnet('dswc', subnet)" href="javascript:void(0)">
                                        <i class="material-icons" role="presentation">delete</i>
                                    </a>
                                </td>
                            </tr>
                            <tr ng-hide="dswcList[0] || savingData['dswc']">
                                <td colspan="2" class="mdl-data-table__cell--center-text">No Subnets</td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-show="savingData['dswc']" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">DSS IPs</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <div class="mdl-grid pull-right">
                        <div class="mdl-cell mdl-cell--10-col no-margin mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input type="text" class="mdl-textfield__input" ng-model="dssIp" name="dss_ip_name" id="dss_ip_name" ng-keypress="($event.which === 13)?addWhiteIp('dss', dssIp):0">
                            <label class="mdl-textfield__label" for="dss_ip_name">CIDR IP</label>
                        </div>
                        <button class="mdl-button add-cidr-ip-button mdl-js-button mdl-button--raised mdl-button--colored-blue mdl-js-ripple-effect" ng-click="addWhiteIp('dss', dssIp)">
                            <i class="material-icons">add_circle_outline</i>
                            Add
                        </button>
                    </div>
                    <table class="mdl-data-table mdl-js-data-table responsive">
                        <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">IP/Subnet</th>
                            <th class="mdl-data-table__cell--center-text">Action</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="ip in ipListing | filter:{module : 'dss'}">
                        <tr ng-repeat="subnet in dssList = (ip.acceptedSubnets) track by $index">
                            <td class="mdl-data-table__cell--non-numeric">{{subnet}}</td>
                            <td class="mdl-data-table__cell--center-text">
                                <a ng-click="deleteSubnet('dss', subnet)" href="javascript:void(0)">
                                    <i class="material-icons" role="presentation">delete</i>
                                </a>
                            </td>
                        </tr>
                        <tr ng-hide="dssList[0] || savingData['dss']">
                            <td colspan="2" class="mdl-data-table__cell--center-text">No Subnets</td>
                        </tr>
                        </tbody>
                    </table>
                    <div ng-show="savingData['dss']" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">PE IPs</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <div class="mdl-grid pull-right">
                        <div class="mdl-cell mdl-cell--10-col no-margin mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input type="text" class="mdl-textfield__input" ng-model="peIp" name="pe_ip_name" id="pe_ip_name" ng-keypress="($event.which === 13)?addWhiteIp('pe', peIp):0">
                            <label class="mdl-textfield__label" for="pe_ip_name">CIDR IP</label>
                        </div>
                        <button class="mdl-button add-cidr-ip-button mdl-js-button mdl-button--raised mdl-button--colored-blue mdl-js-ripple-effect" ng-click="addWhiteIp('pe', peIp)">
                            <i class="material-icons">add_circle_outline</i>
                            Add
                        </button>
                    </div>
                    <table class="mdl-data-table mdl-js-data-table responsive">
                        <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">IP/Subnet</th>
                            <th class="mdl-data-table__cell--center-text">Action</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="ip in ipListing | filter:{module : 'pe'}">
                        <tr ng-repeat="subnet in peList = (ip.acceptedSubnets) track by $index">
                            <td class="mdl-data-table__cell--non-numeric">{{subnet}}</td>
                            <td class="mdl-data-table__cell--center-text">
                                <a ng-click="deleteSubnet('pe', subnet)" href="javascript:void(0)">
                                    <i class="material-icons" role="presentation">delete</i>
                                </a>
                            </td>
                        </tr>
                        <tr ng-hide="peList[0] || savingData['pe']">
                            <td colspan="2" class="mdl-data-table__cell--center-text">No Subnets</td>
                        </tr>
                        </tbody>
                    </table>
                    <div ng-show="savingData['pe']" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
                </div>
            </div>
        </div>
    </div>
</div>