<div ng-controller="UserController" ng-cloak class="user-controller">
    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__actions">
                <div class="mdl-grid">
                    <h2 class="mdl-card__title-text mdl-cell--3-col">Users</h2>
                    <div class="mdl-cell mdl-cell--9-col">
                        <button ng-click="toggleAddBox('add')" class="mdl-button--colored-blue actionbar-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right">
                            <i class="material-icons">add_circle_outline</i> Create
                        </button>
                        <!--<button class="mdl-button&#45;&#45;colored-blue actionbar-btn mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect pull-right">
                            <i class="material-icons">replay</i> Batch Update
                        </button>-->
                        <div class="input-group mdl-cell--6-col pull-right">
                            <i class="material-icons pull-right">search</i>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label pull-right">
                                <input class="mdl-textfield__input" type="text" id="search" ng-model="searchUser" placeholder="Please enter your search key"/>
                                <label class="mdl-textfield__label" for="search"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overflow-x">
                <table class="mdl-data-table mdl-js-data-table">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">First Name</th>
                        <th class="mdl-data-table__cell--non-numeric">Last Name</th>
                        <th class="mdl-data-table__cell--non-numeric">Title</th>
                        <th class="mdl-data-table__cell--non-numeric">Email</th>
                        <th class="mdl-data-table__cell--non-numeric">Department</th>
                        <th class="mdl-data-table__cell--center-text">Modify</th>
                        <th class="mdl-data-table__cell--center-text">Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in data = (userlist.data | filter:searchUser)">
                        <td class="mdl-data-table__cell--non-numeric">{{user.firstName}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{user.lastName}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{user.title}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{user.emailAddress}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{user.department}}</td>
                        <td class="mdl-data-table__cell--center-text">
                            <a ng-click="showEditFormData(user.id)" href="javascript:void(0)">
                                <i class="material-icons" role="presentation">edit</i>
                            </a>
                        </td>
                        <td class="mdl-data-table__cell--center-text">
                            <a ng-click="deleteUser(user.id)" href="javascript:void(0)">
                                <i class="material-icons" role="presentation">delete</i>
                            </a>
                        </td>
                    </tr>
                    <tr ng-hide="data[0] || showProgress">
                        <td colspan="7" class="mdl-data-table__cell--center-text">
                            No Users found <br/><br/>
                            <input ng-click="toggleAddBox('add')" type="button" class="mdl-button mdl-button--colored-blue mdl-js-button mdl-button--raised mdl-js-ripple-effect" value="Add New" />
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="showProgress" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        </div>
        <div class="pagination">
            <button ng-disabled="noNext || showProgress" ng-click="callNextPage(1)" class="mdl-button--colored-blue actionbar-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right">
                Next <i class="material-icons">navigate_next</i>
            </button>
            <label class="pull-right mdl-color-text--white page-no-text">Page {{page}}</label>
            <button ng-disabled="noPrevious || showProgress" ng-click="callNextPage(-1)" class="mdl-button--colored-blue actionbar-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right">
                <i class="material-icons">navigate_before</i> Previous
            </button>
        </div>
    </div>
    <!-- Add user popup -->
    <div class="add-popup-backdrop" ng-show="addUserToggle"></div>
    <div class="add-popup-box mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-show="addUserToggle">
        <div class="mdl-card mdl-shadow--2dp general-form">
            <div class="mdl-card__title">
                <h2>{{isEdit ? 'Update' : 'Add'}} User</h2>
                <div class="mdl-card__subtitle">{{isEdit ? 'Update' : 'Add new'}} user to system</div>
            </div>
            <div class="mdl-card__supporting-text">
                <form class="form" name="adduser_form" ng-submit="submitAddUser(userData)">
                    <div class="form__article">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" id="firstName" name="user_firstname" ng-model="userData.firstName" required ng-change="validateAlphaDotString(userData.firstName, adduser_form.user_firstname)" >
                                <label class="mdl-textfield__label" for="firstName">First name</label>
                                <span class="user_firstname mdl-textfield__error">Required *</span>
                                <label class="mdl-textfield__error custom-err-msg" ng-show="!adduser_form.user_firstname.$error.required && adduser_form.user_firstname.$invalidFormat">Only characters and dot(.) allowed</label>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" name="user_lastname" ng-model="userData.lastName" id="secondName" required ng-change="validateAlphaDotString(userData.lastName, adduser_form.user_lastname)">
                                <label class="mdl-textfield__label" for="secondName">Last Name</label>
                                <span class="user_lastname mdl-textfield__error">Required *</span>
                                <label class="mdl-textfield__error custom-err-msg" ng-show="!adduser_form.user_lastname.$error.required && adduser_form.user_lastname.$invalidFormat">Only characters and dot(.) allowed</label>
                            </div>
                        </div>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="email" class="mdl-textfield__input" id="user_email" name="user_email" ng-model="userData.emailAddress" required>
                                <label class="mdl-textfield__label" for="user_email">Email address</label>
                                <span class="user_email mdl-textfield__error">Required *</span>
                                <label class="mdl-textfield__error custom-err-msg" ng-show="!adduser_form.user_email.$error.required && adduser_form.user_email.$error.email">Invalid email format</label>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" id="user_phone_no" name="user_phone_no" ng-model="userData.phoneNumber" required ng-minlength="10" ng-maxlength="10" ng-change="validatePhone(userData.phoneNumber, adduser_form.user_phone_no)">
                                <label class="mdl-textfield__label" for="user_phone_no">Phone Number ( Office Number, Extensions, Mobile )</label>
                                <span class="user_phone_no mdl-textfield__error">Required *</span>
                                <label class="mdl-textfield__error custom-err-msg" ng-show="(adduser_form.user_phone_no.$error.minlength || adduser_form.user_phone_no.$error.maxlength)">Phone number should be of 10 digits</label>
                                <label class="mdl-textfield__error custom-err-msg" ng-show="!(adduser_form.user_phone_no.$error.minlength || adduser_form.user_phone_no.$error.maxlength) && adduser_form.user_phone_no.$invalidFormat && !adduser_form.user_phone_no.$invalid">Invalid mobile number format</label>
                            </div>
                        </div>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" id="user_title" name="user_title" ng-model="userData.title" required ng-change="validateAlphaDotString(userData.title, adduser_form.user_title)">
                                <label class="mdl-textfield__label" for="user_title">Title</label>
                                <span class="user_title mdl-textfield__error">Required *</span>
                                <label class="mdl-textfield__error custom-err-msg" ng-show="!adduser_form.user_title.$error.required && adduser_form.user_title.$invalidFormat">Only characters and dot(.) allowed</label>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" id="user_department" name="user_department" ng-model="userData.department" required ng-change="validateAlphaString(userData.department, adduser_form.user_department)">
                                <label class="mdl-textfield__label" for="user_department">Department ( Finance, HR, Engineering, IT, etc )</label>
                                <span class="user_department mdl-textfield__error">Required *</span>
                                <label class="mdl-textfield__error custom-err-msg" ng-show="!adduser_form.user_department.$error.required && adduser_form.user_department.$invalidFormat">>Only characters and hyphen(-) allowed</label>
                            </div>
                        </div>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <autocomplete data="groups" attr-input-class="mdl-textfield__input" on-select="groupSelected" ng-model="groupName" attr-placeholder="Search Groups" attr-class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label"></autocomplete>
                                <div class="mdl-list selected-items-list">
                                    <div class="mdl-list__item list__item--border-top mdl-shadow--2dp" ng-repeat="group in selectedGroups">
                                        <span class="mdl-list__item-primary-content">
                                          <span>{{group.groupName}}</span>
                                        </span>
                                        <a class="mdl-list__item-secondary-action" ng-click="deleteItem('Groups', group.id)" href="javascript:void(0);"><i class="material-icons">delete</i></a>
                                    </div>
                                    <div class="mdl-list__item" ng-hide="selectedGroups[0]">
                                        <span class="mdl-list__item-primary-content">No groups selected</span>
                                    </div>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <autocomplete data="policies" attr-input-class="mdl-textfield__input" on-select="policySelected" ng-model="policyName" attr-placeholder="Search policy" attr-class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label"></autocomplete>
                                <div class="mdl-list selected-items-list">
                                    <div class="mdl-list__item list__item--border-top mdl-shadow--2dp" ng-repeat="policy in selectedPolicy">
                                        <span class="mdl-list__item-primary-content">
                                          <span>{{policy.name}}</span>
                                        </span>
                                        <a class="mdl-list__item-secondary-action" ng-click="deleteItem('Policy', policy.id)" href="javascript:void(0);"><i class="material-icons">delete</i></a>
                                    </div>
                                    <div class="mdl-list__item" ng-hide="selectedPolicy[0]">
                                        <span class="mdl-list__item-primary-content">No policies selected</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-typography--text-center mobile-left-movable-content">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-blue mdl-js-ripple-effect" ng-disabled="showProgressAddEdit || adduser_form.$invalid || adduser_form.user_firstname.$invalidFormat || adduser_form.user_lastname.$invalidFormat || adduser_form.user_email.$error.email || adduser_form.user_phone_no.$error.minlength || adduser_form.user_phone_no.$error.maxlength || adduser_form.user_phone_no.$invalidFormat || adduser_form.user_department.$invalidFormat || adduser_form.user_title.$invalidFormat" name="user_submit">
                                <i class="material-icons">check</i>
                                Save
                            </button>
                            <button type="reset" ng-click="toggleAddBox('cancel')" ng-disabled="showProgressAddEdit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-blue mdl-js-ripple-effect" name="user_submit">
                                <i class="material-icons">cancel</i>
                                Cancel
                            </button>
                        </div>
                        <br/>
                        <div ng-show="showProgressAddEdit" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
