<div ng-controller="GroupsController" ng-cloak>
    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__actions">
                <div class="mdl-grid">
                    <h2 class="mdl-card__title-text mdl-cell--3-col">Groups</h2>
                    <div class="mdl-cell mdl-cell--9-col">
                        <button ng-click="toggleAddBox('add')" class="mdl-button--colored-blue actionbar-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right">
                            <i class="material-icons">add_circle_outline</i> Create
                        </button>
                        <!--<button class="mdl-button&#45;&#45;colored-blue actionbar-btn mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect pull-right">
                            <i class="material-icons">replay</i> Batch Update
                        </button>-->
                        <div class="input-group mdl-cell--6-col pull-right">
                            <i class="material-icons pull-right">search</i>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label pull-right">
                                <input class="mdl-textfield__input" type="text" id="search" ng-model="searchGroup" placeholder="Please enter your search key"/>
                                <label class="mdl-textfield__label" for="search"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overflow-x">
                <table class="mdl-data-table mdl-js-data-table">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Group Name</th>
                            <th class="mdl-data-table__cell--non-numeric">Group Description</th>
                            <th class="mdl-data-table__cell--center-text">Modify</th>
                            <th class="mdl-data-table__cell--center-text">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="group in data = (grouplist.data | filter:searchGroup)">
                            <td class="mdl-data-table__cell--non-numeric">{{group.groupName}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{group.groupDescription}}</td>
                            <td class="mdl-data-table__cell--center-text">
                                <a ng-click="showEditFormData(group.id)" href="javascript:void(0)">
                                    <i class="material-icons" role="presentation">edit</i>
                                </a>
                            </td>
                            <td class="mdl-data-table__cell--center-text">
                                <a ng-click="deleteGroup(group.id)" href="javascript:void(0)">
                                    <i class="material-icons" role="presentation">delete</i>
                                </a>
                            </td>
                        </tr>
                        <tr ng-hide="data[0] || showProgress">
                            <td colspan="7" class="mdl-data-table__cell--center-text">
                                No Groups found <br/><br/>
                                <input ng-click="toggleAddBox('add')" type="button" class="mdl-button--colored-blue mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" value="Add New" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="showProgress" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        </div>
        <div class="pagination">
            <button ng-disabled="noNext || showProgress" ng-click="callNextPage(1)" class="mdl-button--colored-blue actionbar-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right">
                Next <i class="material-icons">navigate_next</i>
            </button>
            <label class="pull-right mdl-color-text--white page-no-text">Page {{page}}</label>
            <button ng-disabled="noPrevious || showProgress" ng-click="callNextPage(-1)" class="mdl-button--colored-blue actionbar-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right">
                <i class="material-icons">navigate_before</i> Previous
            </button>
        </div>
    </div>
    <!-- Add group popup -->
    <div class="add-popup-backdrop" ng-show="addGroupToggle"></div>
    <div class="add-popup-box mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-show="addGroupToggle">
        <div class="mdl-card mdl-shadow--2dp general-form">
            <div class="mdl-card__title">
                <h2>{{isEdit ? 'Update' : 'Add'}} Group</h2>
                <div class="mdl-card__subtitle">{{isEdit ? 'Update' : 'Add new'}} group to system</div>
            </div>
            <div class="mdl-card__supporting-text">
                <form class="form" name="addgroup_form" ng-submit="submitAddGroup(groupData)">
                    <div class="form__article">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" id="groupName" name="group_name" ng-model="groupData.groupName" required ng-change="validateAlphaDotString(groupData.groupName, addgroup_form.group_name)">
                                <label class="mdl-textfield__label" for="groupName">Group name</label>
                                <span class="user_firstname mdl-textfield__error">Required *</span>
                                <label class="mdl-textfield__error custom-err-msg" ng-show="!addgroup_form.group_name.$error.required && addgroup_form.group_name.$invalidFormat">Only characters and dot(.) allowed</label>
                            </div>
                        </div>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <textarea class="mdl-textfield__input" type="text" rows="3" id="groupdesc" ng-model="groupData.groupDescription" name="group_desc" required></textarea>
                                <label class="mdl-textfield__label" for="groupdesc">Group Description</label>
                                <span class="user_lastname mdl-textfield__error">Required *</span>
                            </div>
                        </div>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <autocomplete data="policies" attr-input-class="mdl-textfield__input" on-select="policySelected" ng-model="policyName" attr-placeholder="Search policy" attr-class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label"></autocomplete>
                                <div class="mdl-list selected-items-list">
                                    <div class="mdl-list__item list__item--border-top mdl-shadow--2dp" ng-repeat="policy in selectedPolicy">
                                        <span class="mdl-list__item-primary-content">
                                          <span>{{policy.name}}</span>
                                        </span>
                                        <a class="mdl-list__item-secondary-action" ng-click="deleteItem('Policy', policy.id)" href="javascript:void(0);"><i class="material-icons">delete</i></a>
                                    </div>
                                    <div class="mdl-list__item" ng-hide="selectedPolicy[0]">
                                        <span class="mdl-list__item-primary-content">No policies selected</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-typography--text-center mobile-left-movable-content">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-blue mdl-js-ripple-effect" name="user_submit" ng-disabled="addgroup_form.group_name.$invalidFormat || addgroup_form.$invalid">
                                <i class="material-icons">check</i>
                                Save
                            </button>
                            <button type="reset" ng-click="toggleAddBox('cancel')" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-blue mdl-js-ripple-effect" name="user_submit">
                                <i class="material-icons">cancel</i>
                                Cancel
                            </button>
                        </div>
                        <br/>
                        <div ng-show="showProgressAddUpdate" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>