<div ng-controller="PolicyController" ng-cloak>
    <ng-include src="'templates/views/add-policy-wizard.html'"></ng-include>
    <ng-include src="'templates/editpolicy.html'"></ng-include>
    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__actions">
                <div class="mdl-grid">
                    <h2 class="mdl-card__title-text mdl-cell--3-col">Policy Management</h2>
                    <div class="mdl-cell mdl-cell--9-col">
                        <button ng-disabled="loaderFlags < 4" ng-click="toggleAddBox()" class="mdl-button--colored-blue actionbar-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right mobile-right-movable-content">
                            <i class="material-icons">add_circle_outline</i> Create
                        </button>
                        <!--<button class="mdl-button&#45;&#45;colored-blue actionbar-btn mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect pull-right mobile-right-movable-content">
                            <i class="material-icons">replay</i> Batch Update
                        </button>-->
                        <div class="input-group mdl-cell--6-col pull-right mobile-right-movable-content">
                            <i class="material-icons pull-right">search</i>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label pull-right">
                                <input class="mdl-textfield__input" type="text" id="search" ng-model="searchPolicy" placeholder="Please enter your search key"/>
                                <label class="mdl-textfield__label" for="search"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overflow-x">
                <table class="mdl-data-table mdl-js-data-table responsive">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Policy Name</th>
                        <th class="mdl-data-table__cell--non-numeric">Attributes</th>
                        <th class="mdl-data-table__cell--non-numeric">Location</th>
                        <th class="mdl-data-table__cell--non-numeric">Applications</th>
                        <th class="mdl-data-table__cell--non-numeric">OSs</th>
                        <th class="mdl-data-table__cell--non-numeric">Browsers</th>
                        <th class="mdl-data-table__cell--non-numeric">Response</th>
                        <th class="mdl-data-table__cell--center-text">Modify</th>
                        <th class="mdl-data-table__cell--center-text">Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="policy in data = (policylist.data | filter: searchPolicy)">
                            <td class="mdl-data-table__cell--non-numeric">{{policy.name}}</td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <ngRepeat ng-repeat="attr in policy.dataAttributes track by $index">
                                    {{attrList[attr]}}<ngIf ng-if="$index < policy.dataAttributes.length-1">,</ngIf>
                                </ngRepeat>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <data ng-repeat="location in allLocation = (policy.actionVariables | filter : {name : 'location'}) track by $index">
                                    {{CountryList[location.value]}}<ngIf ng-if="$index < allLocation.length-1">,</ngIf>
                                </data>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <data ng-repeat="app in allApp = (policy.actionVariables | filter : {name : 'app'}) track by $index">
                                    {{app.value}}<ngIf ng-if="$index < allApp.length-1">,</ngIf>
                                </data>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <data ng-repeat="os in allOss = (policy.actionVariables | filter : {name : 'os'}) track by $index">
                                    {{os.value}}<ngIf ng-if="$index < allOss.length-1">,</ngIf>
                                </data>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <data ng-repeat="browser in allBrowser = (policy.actionVariables | filter : {name : 'browser'}) track by $index">
                                    {{browser.value}}<ngIf ng-if="$index < allBrowser.length-1">,</ngIf>
                                </data>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">{{policy.defaultAction}}</td>
                            <td class="mdl-data-table__cell--center-text">
                                <a ng-disabled="loaderFlags < 4" ng-click="editPolicy(policy.id)" href="javascript:void(0)">
                                    <i class="material-icons" role="presentation">edit</i>
                                </a>
                            </td>
                            <td class="mdl-data-table__cell--center-text">
                                <a ng-click="deletePolicy(policy.id, $event)" href="javascript:void(0)">
                                    <i class="material-icons" role="presentation">delete</i>
                                </a>
                            </td>
                        </tr>
                        <tr ng-hide="data[0] || showProgress">
                            <td colspan="9" class="mdl-data-table__cell--center-text">
                                No Policy found <br/><br/>
                                <input type="button" class="mdl-button--colored-blue mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" ng-click="toggleAddBox()" value="Add New">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="showProgress" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        </div>
    </div>
</div>