<div ng-controller="StandardsController" ng-cloak>
    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__actions">
                <div class="mdl-grid">
                    <h2 class="mdl-card__title-text mdl-cell--3-col">Standards</h2>
                    <div class="mdl-cell mdl-cell--9-col">
                        <button ng-click="toggleAddBox('add')" class="mdl-button--colored-blue actionbar-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right">
                            <i class="material-icons">add_circle_outline</i> Create
                        </button>
                        <!--<button class="mdl-button&#45;&#45;colored-blue actionbar-btn mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect pull-right">
                            <i class="material-icons">replay</i> Batch Update
                        </button>-->
                        <div class="input-group mdl-cell--6-col pull-right">
                            <i class="material-icons pull-right">search</i>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label pull-right">
                                <input class="mdl-textfield__input" type="text" id="search" ng-model="searchStandard" placeholder="Please enter your search key"/>
                                <label class="mdl-textfield__label" for="search"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overflow-x">
                <table class="mdl-data-table mdl-js-data-table">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Name</th>
                        <th class="mdl-data-table__cell--non-numeric">Description</th>
                        <th class="mdl-data-table__cell--center-text">Modify</th>
                        <th class="mdl-data-table__cell--center-text">Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="standard in data = (standardlist | filter:searchStandard)">
                        <td class="mdl-data-table__cell--non-numeric">{{standard.name}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{standard.description}}</td>
                        <td class="mdl-data-table__cell--center-text">
                            <a ng-click="showEditFormData(standard.id)" href="javascript:void(0)">
                                <i class="material-icons" role="presentation">edit</i>
                            </a>
                        </td>
                        <td class="mdl-data-table__cell--center-text">
                            <a ng-click="deleteStandard(standard.id, $event)" href="javascript:void(0)">
                                <i class="material-icons" role="presentation">delete</i>
                            </a>
                        </td>
                    </tr>
                    <tr ng-hide="data[0] || showProgress">
                        <td colspan="7" class="mdl-data-table__cell--center-text">
                            No Standards found <br/><br/>
                            <input ng-click="toggleAddBox('add')" type="button" class="mdl-button mdl-button--colored-blue mdl-js-button mdl-button--raised mdl-js-ripple-effect" value="Add New" />
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="showProgress" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        </div>
        <div class="pagination">
            <button ng-disabled="noNext || showProgress" ng-click="callNextPage(1)" class="mdl-button--colored-blue actionbar-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right">
                Next <i class="material-icons">navigate_next</i>
            </button>
            <label class="pull-right mdl-color-text--white page-no-text">Page {{page}}</label>
            <button ng-disabled="noPrevious || showProgress" ng-click="callNextPage(-1)" class="mdl-button--colored-blue actionbar-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right">
                <i class="material-icons">navigate_before</i> Previous
            </button>
        </div>
    </div>
    <!-- Add group popup -->
    <div class="add-popup-backdrop" ng-show="addStandardToggle"></div>
    <div class="add-popup-box mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-show="addStandardToggle">
        <div class="mdl-card mdl-shadow--2dp general-form">
            <div class="mdl-card__title">
                <h2>{{isEdit ? 'Update' : 'Add'}} Standard</h2>
                <div class="mdl-card__subtitle">{{isEdit ? 'Update' : 'Add new'}} standard to system</div>
            </div>
            <div class="mdl-card__supporting-text">
                <form class="form" name="addstandard_form" ng-submit="submitAddStandard(standardData)">
                    <div class="form__article">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" id="standardName" name="standard_name" ng-model="standardData.name" required ng-change="validateAlphaDotString(standardData.name, addstandard_form.standard_name)">
                                <label class="mdl-textfield__label" for="standardName">Standard name</label>
                                <span class="user_firstname mdl-textfield__error">Required *</span>
                                <label class="mdl-textfield__error custom-err-msg" ng-show="!addstandard_form.standard_name.$error.required && addstandard_form.standard_name.$invalidFormat">Only characters and dot(.) allowed</label>
                            </div>
                        </div>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <textarea class="mdl-textfield__input" rows="3" id="standard_desc" ng-model="standardData.description" name="standard_desc" required></textarea>
                                <label class="mdl-textfield__label" for="standard_desc">Standard Description</label>
                                <span class="user_lastname mdl-textfield__error">Required *</span>
                            </div>
                        </div>
                        <div class="custom-errors" ng-repeat="error in errorMessage">{{error}}</div>
                        <br ng-show="errorMessage[0]"/>
                        <div class="mdl-typography--text-center mobile-left-movable-content">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-blue mdl-js-ripple-effect" name="standard_submit" ng-disabled="addstandard_form.standard_name.$invalidFormat || addstandard_form.$invalid">
                                <i class="material-icons">check</i>
                                Save
                            </button>
                            <button type="reset" ng-click="toggleAddBox('cancel')" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-blue mdl-js-ripple-effect" name="standard_submit">
                                <i class="material-icons">cancel</i>
                                Cancel
                            </button>
                        </div>
                        <br/>
                        <div ng-show="showProgressAddUpdate" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>