<div ng-controller="SDKController" ng-cloak>
    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__actions">
                <div class="mdl-grid">
                    <h2 class="mdl-card__title-text mdl-cell--3-col">Application Management</h2>
                    <div class="mdl-cell mdl-cell--9-col">
                        <div class="input-group mdl-cell--6-col pull-right mobile-right-movable-content">
                            <i class="material-icons pull-right">search</i>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label pull-right">
                                <input class="mdl-textfield__input" type="text" id="search" ng-model="searchSdk" placeholder="Please enter your search key"/>
                                <label class="mdl-textfield__label" for="search"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overflow-x">
                <table class="mdl-data-table mdl-js-data-table responsive">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Name</th>
                        <th class="mdl-data-table__cell--non-numeric">Registered On</th>
                        <th class="mdl-data-table__cell--non-numeric">IP Address</th>
                        <th class="mdl-data-table__cell--non-numeric">Encrypted Id</th>
                        <th class="mdl-data-table__cell--center-text">Modify</th>
                        <th class="mdl-data-table__cell--center-text">Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="sdk in data = (sdkList | filter:searchSdk)">
                        <td class="mdl-data-table__cell--non-numeric">{{sdk.appName}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{sdk.createdTime}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{sdk.ip}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{sdk.moduleId | limitTo: 20}}{{sdk.moduleId.length > 20 ? '...' : ''}}</td>
                            <text ng-hide="sdk.editing">{{sdk.appName}}</text>
                            <div class="no-margin mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-show="sdk.editing">
                                <input type="text" class="mdl-textfield__input" ng-model="sdk.appName" ng-keypress="($event.which === 13)?updateSDK(sdk):0" placeholder="App Name">
                                <label class="mdl-textfield__error custom-err-msg" ng-show="sdk.errorText">{{sdk.errorText}}</label>
                            </div>
                        </td>
                        <!--td class="mdl-data-table__cell--center-text">
                            <a ng-click="sdk.editing = true" href="javascript:void(0)" ng-hide="sdk.editing">
                                <i class="material-icons" role="presentation">edit</i>
                            </a>
                            <a href="javascript:void(0)" ng-show="sdk.editing" ng-click="updateSDK(sdk)">
                                <i class="material-icons" role="presentation">done</i>
                            </a>
                            <a href="javascript:void(0)" ng-show="sdk.editing" ng-click="sdk.editing = false" >
                                <i class="material-icons" role="presentation">close</i>
                            </a>
                        </td-->
                        <!--td class="mdl-data-table__cell--center-text">
                            <a ng-click="deleteSDK(sdk, $event)" href="javascript:void(0)">
                                <i class="material-icons" role="presentation">delete</i>
                            </a>
                        </td-->
						 <td class="mdl-data-table__cell--center-text">
                            <a ng-click="showEditFormData(sdk)" href="javascript:void(0)">
                                <i class="material-icons" role="presentation">edit</i>
                            </a>
                        </td>
                        <td class="mdl-data-table__cell--center-text">
                            <a ng-click="deleteSDK(sdk, $event)" href="javascript:void(0)">
                                <i class="material-icons" role="presentation">delete</i>
                            </a>
                        </td>
						
                    </tr>
                    <tr ng-hide="data[0] || showProgress">
                        <td colspan="7" class="mdl-data-table__cell--center-text">
                            No SDKs found <br/><br/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="showProgress" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        </div>
        <!--<div class="pagination">
            <button ng-disabled="noNext || showProgress || true" ng-click="callNextPage(1)" class="mdl-button&#45;&#45;colored-blue actionbar-btn mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect pull-right">
                Next <i class="material-icons">navigate_next</i>
            </button>
            <label class="pull-right mdl-color-text&#45;&#45;white page-no-text">Page {{page}}</label>
            <button ng-disabled="noPrevious || showProgress || true" ng-click="callNextPage(-1)" class="mdl-button&#45;&#45;colored-blue actionbar-btn mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect pull-right">
                <i class="material-icons">navigate_before</i> Previous
            </button>
        </div>-->
    </div>
	
	<!-- Add Sdk popup -->
    <div class="add-popup-backdrop" ng-show="addSdkToggle"></div>
    <div class="add-popup-box mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-show="addSdkToggle">
        <div class="mdl-card mdl-shadow--2dp general-form">
            <div class="mdl-card__title">
                <h2>{{isEdit ? 'Update' : 'Add'}} Sdk</h2>
                <div class="mdl-card__subtitle">{{isEdit ? 'Update' : 'Add new'}} Sdk to system</div>
            </div>
				<div class="mdl-card__supporting-text">
					<form class="form" name="addsdk_form" ng-submit="updateSDK(sdkDatas)">
						<div class="form__article">
							<div class="mdl-grid">
								<div class="mdl-cell mdl-cell--11-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<input type="text" class="mdl-textfield__input" id="module_id" name="module_id" ng-model="sdkDatas.moduleId" required ng-change="validateAlphaDotString(sdkDatas.groupName, addsdk_form.group_name)">
									<label class="mdl-textfield__label" for="module_id">Module Id</label>
									<span class="sdk_moduleId mdl-textfield__error">Required *</span>
									<label class="mdl-textfield__error custom-err-msg" ng-show="!addsdk_form.module_id.$error.required && addsdk_form.module_id.$invalidFormat">Only characters and dot(.) allowed</label>
								</div>
							</div>
							<div class="mdl-grid">
								<div class="mdl-cell mdl-cell--11-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<input type="text" class="mdl-textfield__input" id="appName" name="appName" ng-model="sdkDatas.appName" required ng-change="validateAlphaDotString(sdkDatas.appName, addsdk_form.appName)">
									<label class="mdl-textfield__label" for="ip">Name</label>
									<span class="sdk_appName mdl-textfield__error">Required *</span>
									<label class="mdl-textfield__error custom-err-msg" ng-show="!addsdk_form.appName.$error.required && addsdk_form.appName.$invalidFormat"></label>
								</div>
							</div>
							<div class="mdl-grid">
								<div class="mdl-cell mdl-cell--11-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<input type="text" class="mdl-textfield__input" id="ip" name="ip" ng-model="sdkDatas.ip" required ng-change="validateAlphaDotString(sdkDatas.groupName, addsdk_form.group_name)">
									<label class="mdl-textfield__label" for="ip">IP</label>
									<span class="sdk_ip mdl-textfield__error">Required *</span>
									<label class="mdl-textfield__error custom-err-msg" ng-show="!addsdk_form.ip.$error.required && addsdk_form.ip.$invalidFormat"></label>
								</div>
							</div>
							<div class="mdl-typography--text-center mobile-left-movable-content">
								<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-blue mdl-js-ripple-effect" name="sdk_submit" ng-disabled="addsdk_form.app_name.$invalidFormat || addsdk_form.$invalid">
									<i class="material-icons">check</i>
									Save
								</button>
								<button type="reset" ng-click="toggleAddBox('cancel')" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-blue mdl-js-ripple-effect" name="sdk_submit">
									<i class="material-icons">cancel</i>
									Cancel
								</button>
								
							</div>
							<br/>
							<div class="mdl-typography--text-center mobile-left-movable-content">
								<p>
								   <a class="btn btn-lg btn-primary" href="/signin/{{sdkDatas.moduleId}}" role="button" id="connect-button">Authorize Your Microsoft Account</a>
								</p>
							</div>
							<div ng-show="showProgressAddUpdate" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
						</div>
					</form>
				</div>
			</div>
        </div>
    </div>
</div>