<div ng-controller="LoginController" ng-cloak>
    <form name="login_form" ng-submit="submitLogin(loginData)">
        <div class="login_section">
            <h1 class="text-center">logo here</h1>
            <div class="text_field_grid">
                <label>User Name</label>
                <input type="text" name="login_username" ng-model="loginData.username" placeholder="Please enter your User name">
            </div>
            <div class="text_field_grid">
                <label>Password</label>
                <input type="password" name="login_password" ng-model="loginData.password" placeholder="Please enter your password">
            </div>
            <a class="forgot_pass" href="javascript:void(0);">Forgot Password ?</a>
            <div class="login_buttons">
                <input class="btn_nor" name="login_submit" ui-sref="listusers" type="submit" value="Login" />
                <input class="btn_dark" type="reset" value="Cancel" />
                <div class="clearfix"> </div>
            </div>
        </div>
    </form><!--
    <form name="newpassword_form" ng-submit="submitSetPassword(passwordData)">
        <h3>Set new password</h3>
        <div>
            <label>New Password</label>
            <input type="password" name="new_password" ng-model="passwordData.password" placeholder="Password">
        </div>
        <div>
            <label>Re Password</label>
            <input type="password" name="new_re_password" ng-model="passwordData.repassword" placeholder="Re-Password">
        </div>
        <div>
            <input type="submit" name="new_submit" value="Save">
        </div>
    </form>-->
</div>