<div ng-controller="OnboardDevicesPerimeterController" ng-cloak>
    <br><br>
    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__actions">
                <div class="mdl-grid">
                    <h2 class="mdl-card__title-text mdl-cell--3-col">Onboard Devices</h2>
                    <div class="mdl-cell mdl-cell--9-col">
                        <button ng-click="toggleAddBox('add')" class="mdl-button--colored-blue actionbar-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right">
                            <i class="material-icons">add_circle_outline</i> Create
                        </button>
                        <div class="input-group mdl-cell--6-col pull-right">
                            <i class="material-icons pull-right">search</i>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label pull-right">
                                <input class="mdl-textfield__input" type="text" id="search" ng-model="searchDevice" placeholder="Please enter your search key"/>
                                <label class="mdl-textfield__label" for="search"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overflow-x">
                <table class="mdl-data-table mdl-js-data-table">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Device Id</th>
                            <th class="mdl-data-table__cell--non-numeric">Valid</th>
                            <th class="mdl-data-table__cell--non-numeric">Type</th>
                            <th class="mdl-data-table__cell--non-numeric">Alt. Name</th>
                            <th class="mdl-data-table__cell--non-numeric">Email</th>
                            <th class="mdl-data-table__cell--non-numeric">Country</th>
                            <th class="mdl-data-table__cell--non-numeric">State</th>
                            <th class="mdl-data-table__cell--non-numeric">Locality</th>
                            <th class="mdl-data-table__cell--non-numeric">Organisation</th>
                            <th class="mdl-data-table__cell--non-numeric">Organisation Unit</th>
                            <th class="mdl-data-table__cell--non-numeric">Last Credential Update</th>
                            <th class="mdl-data-table__cell--non-numeric">Credential Update Due</th>
                            <!--<th class="mdl-data-table__cell&#45;&#45;center-text">Modify</th>-->
                            <th class="mdl-data-table__cell--center-text">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="device in data = (devicesList.data | filter:searchDevice)">
                            <td class="mdl-data-table__cell--non-numeric">{{device.sdpId}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{device.valid == 1 ? 'Yes' : 'No' }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{device.type}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{device.altName}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{device.email}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{countryList[device.country]}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{device.state}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{device.locality}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{device.org}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{device.orgUnit}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{device.lastCredUpdate | date:'yyyy-MM-dd hh:mm:ss'}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{device.credUpdateDue | date:'yyyy-MM-dd hh:mm:ss'}}</td>
                            <!--<td class="mdl-data-table__cell&#45;&#45;center-text">
                                <a ng-click="showEditFormData(device.id)" href="javascript:void(0)">
                                    <i class="material-icons" role="presentation">edit</i>
                                </a>
                            </td>-->
                            <td class="mdl-data-table__cell--center-text">
                                <a ng-click="deleteDevice(device.sdpId)" href="javascript:void(0)">
                                    <i class="material-icons" role="presentation">delete</i>
                                </a>
                            </td>
                        </tr>
                        <tr ng-hide="data[0] || showProgress">
                            <td colspan="13" class="mdl-data-table__cell--center-text">
                                No Onboard Devices found <br/><br/>
                                <button ng-click="toggleAddBox('add')" class="mdl-button--colored-blue mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                                    <i class="material-icons">add_circle_outline</i> Create
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="showProgress" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        </div>
        <div class="pagination">
            <button ng-disabled="noNext || showProgress" ng-click="callNextPage(1)" class="mdl-button--colored-blue actionbar-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right">
                Next <i class="material-icons">navigate_next</i>
            </button>
            <label class="pull-right mdl-color-text--white page-no-text">Page {{page}}</label>
            <button ng-disabled="noPrevious || showProgress" ng-click="callNextPage(-1)" class="mdl-button--colored-blue actionbar-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right">
                <i class="material-icons">navigate_before</i> Previous
            </button>
        </div>
    </div>
    <!-- Add group popup -->
    <div class="add-popup-backdrop" ng-show="addDeviceToggle"></div>
    <div class="add-popup-box mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-show="addDeviceToggle">
        <div class="mdl-card mdl-shadow--2dp general-form">
            <div class="mdl-card__title">
                <h2>{{isEdit ? 'Update' : 'Add'}} Perimeter User</h2>
                <div class="mdl-card__subtitle">{{isEdit ? 'Update' : 'Add new'}} perimeter user to system</div>
            </div>
            <div class="mdl-card__supporting-text">
                <form class="form" name="adddevice_form" ng-submit="submitAddDevice(deviceData)">
                    <div class="form__article">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="number" class="mdl-textfield__input" id="device_id" name="device_id" ng-model="deviceData.sdpId" required>
                                <label class="mdl-textfield__label" for="device_id">Device ID</label>
                                <span class="device_id mdl-textfield__error">Required *</span>
                            </div>
                        </div>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" id="alt_name" name="user_alt_name" ng-model="deviceData.altName" required ng-change="validateAlphaDotString(deviceData.altName, adddevice_form.user_alt_name)" >
                                <label class="mdl-textfield__label" for="alt_name">Alternate Name</label>
                                <span class="user_alt_name mdl-textfield__error">Required *</span>
                                <label class="mdl-textfield__error custom-err-msg" ng-show="!adddevice_form.user_alt_name.$error.required && adddevice_form.user_alt_name.$invalidFormat">Only characters and dot(.) allowed</label>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="email" class="mdl-textfield__input" name="user_email" ng-model="deviceData.email" id="user_email" required>
                                <label class="mdl-textfield__label" for="user_email">Email</label>
                                <span class="user_email mdl-textfield__error" ng-show="adddevice_form.user_email.$error.required">Required *</span>
                                <span class="user_email mdl-textfield__error" ng-show="adddevice_form.user_email.$error.email">Invalid Email Format</span>
                            </div>
                        </div>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col selectbox mdl-selectfield country-select">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <label class="mdl-textfield__label drodown" for="user_country">Country</label>
                                    <select id="user_country" class="mdl-textfield__input" name="user_country" ng-model="deviceData.country" required>
                                        <option value="{{iso2}}" ng-repeat="(iso2, country) in countryList">{{country}}</option>
                                    </select>
                                    <span class="user_country mdl-textfield__error">Required *</span>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" id="state" name="user_state" ng-model="deviceData.state" required ng-change="validateAlphaDotString(deviceData.state, adddevice_form.user_state)" >
                                <label class="mdl-textfield__label" for="state">State</label>
                                <span class="user_state mdl-textfield__error">Required *</span>
                                <label class="mdl-textfield__error custom-err-msg" ng-show="!adddevice_form.user_state.$error.required && adddevice_form.user_state.$invalidFormat">Only characters and dot(.) allowed</label>
                            </div>
                        </div>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" id="locality" name="user_locality" ng-model="deviceData.locality" required ng-change="validateAlphaDotString(deviceData.locality, adddevice_form.user_locality)" >
                                <label class="mdl-textfield__label" for="locality">Locality</label>
                                <span class="user_locality mdl-textfield__error">Required *</span>
                                <label class="mdl-textfield__error custom-err-msg" ng-show="!adddevice_form.user_locality.$error.required && adddevice_form.user_locality.$invalidFormat">Only characters and dot(.) allowed</label>
                            </div>
                        </div>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" id="organisation" name="user_organisation" ng-model="deviceData.org" required ng-change="validateAlphaNumDotString(deviceData.org, adddevice_form.user_organisation)" >
                                <label class="mdl-textfield__label" for="organisation">Organisation</label>
                                <span class="user_organisation mdl-textfield__error">Required *</span>
                                <label class="mdl-textfield__error custom-err-msg" ng-show="!adddevice_form.user_organisation.$error.required && adddevice_form.user_organisation.$invalidFormat">Only Alphanumeric characters and dot(.) allowed</label>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" id="organisation_unit" name="user_organisation_unit" ng-model="deviceData.orgUnit" required ng-change="validateAlphaNumDotString(deviceData.orgUnit, adddevice_form.user_organisation_unit)" >
                                <label class="mdl-textfield__label" for="organisation_unit">Organisation Unit</label>
                                <span class="user_organisation_unit mdl-textfield__error">Required *</span>
                                <label class="mdl-textfield__error custom-err-msg" ng-show="!adddevice_form.user_organisation_unit.$error.required && adddevice_form.user_organisation_unit.$invalidFormat">Only Alphanumeric characters and dot(.) allowed</label>
                            </div>
                        </div>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" id="enc_key" name="enc_key" ng-model="deviceData.encryptKey" required ng-change="validateAlphaNumString(deviceData.encryptKey, adddevice_form.enc_key)" >
                                <label class="mdl-textfield__label" for="enc_key">Encrypt Key</label>
                                <span class="enc_key mdl-textfield__error">Required *</span>
                                <label class="mdl-textfield__error custom-err-msg" ng-show="!adddevice_form.enc_key.$error.required && adddevice_form.enc_key.$invalidFormat">Only Alphanumeric characters allowed</label>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" id="hmac_key" name="hmac_key" ng-model="deviceData.hmacKey" required ng-change="validateAlphaNumString(deviceData.hmacKey, adddevice_form.hmac_key)" >
                                <label class="mdl-textfield__label" for="hmac_key">HMAC Key</label>
                                <span class="hmac_key mdl-textfield__error">Required *</span>
                                <label class="mdl-textfield__error custom-err-msg" ng-show="!adddevice_form.hmac_key.$error.required && adddevice_form.hmac_key.$invalidFormat">Only Alphanumeric characters allowed</label>
                            </div>
                        </div>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" id="serial_key" name="serial_key" ng-model="deviceData.serial" required ng-change="validateAlphaNumString(deviceData.serial, adddevice_form.serial_key)" >
                                <label class="mdl-textfield__label" for="serial_key">Serial Key</label>
                                <span class="serial_key mdl-textfield__error">Required *</span>
                                <label class="mdl-textfield__error custom-err-msg" ng-show="!adddevice_form.serial_key.$error.required && adddevice_form.serial_key.$invalidFormat">Only Alphanumeric characters allowed</label>
                            </div>
                        </div>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield is-dirty mdl-textfield--floating-label">
                                <input type="datetime-local" class="mdl-textfield__input" id="last_cred_update" name="last_cred_update" ng-model="deviceData.lastCredUpdate" required>
                                <label class="mdl-textfield__label" for="last_cred_update">Last Credential Update</label>
                                <span class="last_cred_update mdl-textfield__error">Required *</span>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield is-dirty mdl-textfield--floating-label">
                                <input type="datetime-local" class="mdl-textfield__input" id="cred_update_due" name="cred_update_due" ng-model="deviceData.credUpdateDue" required>
                                <label class="mdl-textfield__label" for="cred_update_due">Credential Update Due</label>
                                <span class="cred_update_due mdl-textfield__error">Required *</span>
                            </div>
                        </div>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="number" min="1" class="mdl-textfield__input" id="user_id" name="user_id" ng-model="deviceData.userId" required>
                                <label class="mdl-textfield__label" for="user_id">User Id</label>
                                <span class="user_id mdl-textfield__error">Required *</span>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="number" min="1" class="mdl-textfield__input" id="env_id" name="env_id" ng-model="deviceData.environmentId" required>
                                <label class="mdl-textfield__label" for="env_id">Environment Id</label>
                                <span class="env_id mdl-textfield__error">Required *</span>
                            </div>

                        </div>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col selectbox mdl-selectfield country-select">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <label class="mdl-textfield__label drodown" for="device_type">Type</label>
                                    <select id="device_type" class="mdl-textfield__input" name="user_country" ng-model="deviceData.type" required>
                                        <option value="client">Client</option>
                                        <option value="gateway">Gateway</option>
                                    </select>
                                    <span class="device_type mdl-textfield__error">Required *</span>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-checkboxfield">
                                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect onboardcheckbox" for="valid">
                                    <input type="checkbox" class="mdl-checkbox__input" id="valid" ng-model="deviceData.valid" >
                                    <span class="mdl-checkbox__label">Valid?</span>
                                </label>
                            </div>
                        </div>
                        <br>
                        <div class="mdl-typography--text-center mobile-left-movable-content">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-blue mdl-js-ripple-effect" name="user_submit">
                                <i class="material-icons">check</i>
                                Save
                            </button>
                            <button type="reset" ng-click="toggleAddBox('cancel')" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-blue mdl-js-ripple-effect" name="user_submit">
                                <i class="material-icons">cancel</i>
                                Cancel
                            </button>
                        </div>
                        <br/>
                        <div ng-show="showProgressAddUpdate" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>