<div ng-controller="PerimeterGatewaysController" ng-cloak>
    <br><br>
    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__actions">
                <div class="mdl-grid">
                    <h2 class="mdl-card__title-text mdl-cell--3-col">Perimeter Gateways</h2>
                    <div class="mdl-cell mdl-cell--9-col">
                        <button ng-click="toggleAddBox('add')" class="mdl-button--colored-blue actionbar-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right">
                            <i class="material-icons">add_circle_outline</i> Create
                        </button>
                        <div class="input-group mdl-cell--6-col pull-right">
                            <i class="material-icons pull-right">search</i>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label pull-right">
                                <input class="mdl-textfield__input" type="text" id="search" ng-model="searchUser" placeholder="Please enter your search key"/>
                                <label class="mdl-textfield__label" for="search"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overflow-x">
                <table class="mdl-data-table mdl-js-data-table">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Name</th>
                            <th class="mdl-data-table__cell--non-numeric">IP Address</th>
                            <th class="mdl-data-table__cell--non-numeric">Online</th>
                            <!--<th class="mdl-data-table__cell&#45;&#45;center-text">Modify</th>-->
                            <th class="mdl-data-table__cell--center-text">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="gateway in data = (periGateWaysList.data | filter:searchUser)">
                            <td class="mdl-data-table__cell--non-numeric">{{gateway.name}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{gateway.ip_address}}</td>
                            <td class="mdl-data-table__cell--center-text"><led ng-class="{'green' : gateway.online, 'red' : !gateway.online}"></led></td>
                            <!--<td class="mdl-data-table__cell&#45;&#45;center-text">
                                <a ng-click="showEditFormData(gateway.id)" href="javascript:void(0)">
                                    <i class="material-icons" role="presentation">edit</i>
                                </a>
                            </td>-->
                            <td class="mdl-data-table__cell--center-text">
                                <a ng-click="deletePeriGateway(gateway.sdpId)" href="javascript:void(0)">
                                    <i class="material-icons" role="presentation">delete</i>
                                </a>
                            </td>
                        </tr>
                        <tr ng-hide="data[0] || showProgress">
                            <td colspan="4" class="mdl-data-table__cell--center-text">
                                No Perimeter Gateways found <br/><br/>
                                <button ng-click="toggleAddBox('add')" class="mdl-button--colored-blue mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                                    <i class="material-icons">add_circle_outline</i> Create
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="showProgress" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        </div>
        <div class="pagination">
            <button ng-disabled="noNext || showProgress" ng-click="callNextPage(1)" class="mdl-button--colored-blue actionbar-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right">
                Next <i class="material-icons">navigate_next</i>
            </button>
            <label class="pull-right mdl-color-text--white page-no-text">Page {{page}}</label>
            <button ng-disabled="noPrevious || showProgress" ng-click="callNextPage(-1)" class="mdl-button--colored-blue actionbar-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right">
                <i class="material-icons">navigate_before</i> Previous
            </button>
        </div>
    </div>
    <!-- Add group popup -->
    <div class="add-popup-backdrop" ng-show="addPeriGatewayToggle"></div>
    <div class="add-popup-box mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-show="addPeriGatewayToggle">
        <div class="mdl-card mdl-shadow--2dp general-form">
            <div class="mdl-card__title">
                <h2>{{isEdit ? 'Update' : 'Add'}} Perimeter Gateway</h2>
                <div class="mdl-card__subtitle">{{isEdit ? 'Update' : 'Add new'}} perimeter gateway to system</div>
            </div>
            <div class="mdl-card__supporting-text">
                <form class="form" name="addgateway_form" ng-submit="submitAddPerimeterGateWay(gatewayData)">
                    <div class="form__article">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" id="firstName" name="gateway_name" ng-model="gatewayData.name" required ng-change="validateAlphaDotString(gatewayData.name, addgateway_form.gateway_name)" >
                                <label class="mdl-textfield__label" for="firstName">Name</label>
                                <span class="gateway_name mdl-textfield__error">Required *</span>
                                <label class="mdl-textfield__error custom-err-msg" ng-show="!addgateway_form.gateway_name.$error.required && addgateway_form.gateway_name.$invalidFormat">Only characters and dot(.) allowed</label>
                            </div>
                        </div>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" name="gateway_ip" ng-model="gatewayData.ipAddress" id="ipAddress" required ng-ip-address ng-ip-config="{allowPort:false}">
                                <label class="mdl-textfield__label" for="ipAddress">IP Address</label>
                                <span class="gateway_ip mdl-textfield__error">Required *</span>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="number" min="1" max="65535" class="mdl-textfield__input" name="gateway_ipport" ng-model="gatewayData.port" id="ipAddressPort" required>
                                <label class="mdl-textfield__label" for="ipAddressPort">Port</label>
                                <label class="mdl-textfield__error custom-err-msg" ng-show="addgateway_form.gateway_ipport.$error.required">Required *</label>
                                <label class="mdl-textfield__error custom-err-msg" ng-show="!addgateway_form.gateway_ipport.$error.required && addgateway_form.gateway_ipport.$error.min">Minimum allowed port number is 1</label>
                                <label class="mdl-textfield__error custom-err-msg" ng-show="!addgateway_form.gateway_ipport.$error.required && addgateway_form.gateway_ipport.$error.max">Maximum allowed port number is 65535</label>
                            </div>
                        </div>
                        <br>
                        <div class="mdl-typography--text-center mobile-left-movable-content">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-blue mdl-js-ripple-effect" name="user_submit" ng-disabled="addgateway_form.gateway_name.$invalid || addgateway_form.gateway_name.$invalidFormat || addgateway_form.gateway_ip.$invalid || addgateway_form.gateway_ipport.$invalid">
                                <i class="material-icons">check</i>
                                Save
                            </button>
                            <button type="reset" ng-click="toggleAddBox('cancel')" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-blue mdl-js-ripple-effect" name="user_submit">
                                <i class="material-icons">cancel</i>
                                Cancel
                            </button>
                        </div>
                        <br/>
                        <div ng-show="showProgressAddUpdate" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>