<div ng-controller="PerimeterUserController" ng-cloak>
    <br><br>
    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__actions">
                <div class="mdl-grid">
                    <h2 class="mdl-card__title-text mdl-cell--3-col">Perimeter Users</h2>
                    <div class="mdl-cell mdl-cell--9-col">
                        <button ng-click="toggleAddBox('add')" class="mdl-button--colored-blue actionbar-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right">
                            <i class="material-icons">add_circle_outline</i> Create
                        </button>
                        <div class="input-group mdl-cell--6-col pull-right">
                            <i class="material-icons pull-right">search</i>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label pull-right">
                                <input class="mdl-textfield__input" type="text" id="search" ng-model="searchUser" placeholder="Please enter your search key"/>
                                <label class="mdl-textfield__label" for="search"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overflow-x">
                <table class="mdl-data-table mdl-js-data-table">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Uid</th>
                            <th class="mdl-data-table__cell--non-numeric">Name</th>
                            <th class="mdl-data-table__cell--non-numeric">Alt. Name</th>
                            <th class="mdl-data-table__cell--non-numeric">Email</th>
                            <th class="mdl-data-table__cell--non-numeric">Country</th>
                            <th class="mdl-data-table__cell--non-numeric">State</th>
                            <th class="mdl-data-table__cell--non-numeric">Locality</th>
                            <th class="mdl-data-table__cell--non-numeric">Organisation</th>
                            <th class="mdl-data-table__cell--non-numeric">Organisation Unit</th>
                            <!--<th class="mdl-data-table__cell&#45;&#45;center-text">Modify</th>-->
                            <th class="mdl-data-table__cell--center-text">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in data = (periUsersList.data | filter:searchUser)">
                            <td class="mdl-data-table__cell--non-numeric">{{user.id}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{user.firstName+" "+user.lastName}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{user.altName}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{user.email}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{user.country}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{user.state}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{user.locality}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{user.org}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{user.orgUnit}}</td>
                            <!--<td class="mdl-data-table__cell&#45;&#45;center-text">
                                <a ng-click="showEditFormData(user.id)" href="javascript:void(0)">
                                    <i class="material-icons" role="presentation">edit</i>
                                </a>
                            </td>-->
                            <td class="mdl-data-table__cell--center-text">
                                <a ng-click="deletePeriUser(user.id)" href="javascript:void(0)">
                                    <i class="material-icons" role="presentation">delete</i>
                                </a>
                            </td>
                        </tr>
                        <tr ng-hide="data[0] || showProgress">
                            <td colspan="10" class="mdl-data-table__cell--center-text">
                                No Perimeter Users found <br/><br/>
                                <button ng-click="toggleAddBox('add')" class="mdl-button--colored-blue mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                                    <i class="material-icons">add_circle_outline</i> Create
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="showProgress" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        </div>
        <div class="pagination">
            <button ng-disabled="noNext || showProgress" ng-click="callNextPage(1)" class="mdl-button--colored-blue actionbar-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right">
                Next <i class="material-icons">navigate_next</i>
            </button>
            <label class="pull-right mdl-color-text--white page-no-text">Page {{page}}</label>
            <button ng-disabled="noPrevious || showProgress" ng-click="callNextPage(-1)" class="mdl-button--colored-blue actionbar-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right">
                <i class="material-icons">navigate_before</i> Previous
            </button>
        </div>
    </div>
    <!-- Add group popup -->
    <div class="add-popup-backdrop" ng-show="addPeriUserToggle"></div>
    <div class="add-popup-box mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-show="addPeriUserToggle">
        <div class="mdl-card mdl-shadow--2dp general-form">
            <div class="mdl-card__title">
                <h2>{{isEdit ? 'Update' : 'Add'}} Perimeter User</h2>
                <div class="mdl-card__subtitle">{{isEdit ? 'Update' : 'Add new'}} perimeter user to system</div>
            </div>
            <div class="mdl-card__supporting-text">
                <form class="form" name="adduser_form" ng-submit="submitAddPerimeterUser(userData)">
                    <div class="form__article">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" id="uid" name="user_uid" ng-model="userData.uid" required>
                                <label class="mdl-textfield__label" for="uid">Uid</label>
                                <span class="user_uid mdl-textfield__error">Required *</span>
                            </div>
                        </div>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" id="firstName" name="user_firstname" ng-model="userData.firstName" required ng-change="validateAlphaDotString(userData.firstName, adduser_form.user_firstname)" >
                                <label class="mdl-textfield__label" for="firstName">First name</label>
                                <span class="user_firstname mdl-textfield__error">Required *</span>
                                <label class="mdl-textfield__error custom-err-msg" ng-show="!adduser_form.user_firstname.$error.required && adduser_form.user_firstname.$invalidFormat">Only characters and dot(.) allowed</label>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" name="user_lastname" ng-model="userData.lastName" id="secondName" required ng-change="validateAlphaDotString(userData.lastName, adduser_form.user_lastname)">
                                <label class="mdl-textfield__label" for="secondName">Last Name</label>
                                <span class="user_lastname mdl-textfield__error">Required *</span>
                                <label class="mdl-textfield__error custom-err-msg" ng-show="!adduser_form.user_lastname.$error.required && adduser_form.user_lastname.$invalidFormat">Only characters and dot(.) allowed</label>
                            </div>
                        </div>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" id="alt_name" name="user_alt_name" ng-model="userData.altName" required ng-change="validateAlphaDotString(userData.altName, adduser_form.user_alt_name)" >
                                <label class="mdl-textfield__label" for="alt_name">Alternate Name</label>
                                <span class="user_alt_name mdl-textfield__error">Required *</span>
                                <label class="mdl-textfield__error custom-err-msg" ng-show="!adduser_form.user_alt_name.$error.required && adduser_form.user_alt_name.$invalidFormat">Only characters and dot(.) allowed</label>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="email" class="mdl-textfield__input" name="user_email" ng-model="userData.email" id="user_email" required>
                                <label class="mdl-textfield__label" for="user_email">Email</label>
                                <span class="user_email mdl-textfield__error" ng-show="adduser_form.user_email.$error.required">Required *</span>
                                <span class="user_email mdl-textfield__error" ng-show="adduser_form.user_email.$error.email">Invalid Email Format</span>
                            </div>
                        </div>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col selectbox mdl-selectfield country-select">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <label class="mdl-textfield__label drodown" for="user_country">Country</label>
                                    <select id="user_country" class="mdl-textfield__input" name="user_country" ng-model="userData.country" required>
                                        <option value="{{iso2}}" ng-repeat="(iso2, country) in countryList">{{country}}</option>
                                    </select>
                                    <span class="user_country mdl-textfield__error">Required *</span>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" id="state" name="user_state" ng-model="userData.state" required ng-change="validateAlphaDotString(userData.state, adduser_form.user_state)" >
                                <label class="mdl-textfield__label" for="state">State</label>
                                <span class="user_state mdl-textfield__error">Required *</span>
                                <label class="mdl-textfield__error custom-err-msg" ng-show="!adduser_form.user_state.$error.required && adduser_form.user_state.$invalidFormat">Only characters and dot(.) allowed</label>
                            </div>
                        </div>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" id="locality" name="user_locality" ng-model="userData.locality" required ng-change="validateAlphaDotString(userData.locality, adduser_form.user_locality)" >
                                <label class="mdl-textfield__label" for="locality">Locality</label>
                                <span class="user_locality mdl-textfield__error">Required *</span>
                                <label class="mdl-textfield__error custom-err-msg" ng-show="!adduser_form.user_locality.$error.required && adduser_form.user_locality.$invalidFormat">Only characters and dot(.) allowed</label>
                            </div>
                        </div>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" id="organisation" name="user_organisation" ng-model="userData.org" required ng-change="validateAlphaNumDotString(userData.org, adduser_form.user_organisation)" >
                                <label class="mdl-textfield__label" for="locality">Organisation</label>
                                <span class="user_organisation mdl-textfield__error">Required *</span>
                                <label class="mdl-textfield__error custom-err-msg" ng-show="!adduser_form.user_organisation.$error.required && adduser_form.user_organisation.$invalidFormat">Only Alphanumeric characters and dot(.) allowed</label>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" class="mdl-textfield__input" id="organisation_unit" name="user_organisation_unit" ng-model="userData.orgUnit" required ng-change="validateAlphaNumDotString(userData.orgUnit, adduser_form.user_organisation_unit)" >
                                <label class="mdl-textfield__label" for="organisation_unit">Organisation Unit</label>
                                <span class="user_organisation_unit mdl-textfield__error">Required *</span>
                                <label class="mdl-textfield__error custom-err-msg" ng-show="!adduser_form.user_organisation_unit.$error.required && adduser_form.user_organisation_unit.$invalidFormat">Only Alphanumeric characters and dot(.) allowed</label>
                            </div>
                        </div>
                        <br>
                        <div class="mdl-typography--text-center mobile-left-movable-content">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-blue mdl-js-ripple-effect" name="user_submit" ng-disabled="">
                                <i class="material-icons">check</i>
                                Save
                            </button>
                            <button type="reset" ng-click="toggleAddBox('cancel')" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-blue mdl-js-ripple-effect" name="user_submit">
                                <i class="material-icons">cancel</i>
                                Cancel
                            </button>
                        </div>
                        <br/>
                        <div ng-show="showProgressAddUpdate" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>