<div ng-controller="PerimeterController" ng-cloak>
    <br><br>
    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__actions">
                <div class="mdl-grid">
                    <h2 class="mdl-card__title-text mdl-cell--3-col">Permissions</h2>
                    <div class="mdl-cell mdl-cell--9-col">
                        <button ng-click="toggleAddBox('add')" ng-disabled="!periGateWaysList || !devicesList" class="mdl-button--colored-blue actionbar-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right">
                            <i class="material-icons">add_circle_outline</i> Create
                        </button>
                        <div class="input-group mdl-cell--6-col pull-right">
                            <i class="material-icons pull-right">search</i>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label pull-right">
                                <input class="mdl-textfield__input" type="text" id="search" ng-model="searchUser" placeholder="Please enter your search key"/>
                                <label class="mdl-textfield__label" for="search"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overflow-x">
                <table class="mdl-data-table mdl-js-data-table">
                    <thead>
                        <tr>
                            <!--<th class="mdl-data-table__cell--non-numeric">User Name</th>-->
                            <th class="mdl-data-table__cell--non-numeric">Device</th>
                            <!--<th class="mdl-data-table__cell--non-numeric">Location</th>-->
                            <th class="mdl-data-table__cell--non-numeric">List of Gateways</th>
                            <!--<th class="mdl-data-table__cell&#45;&#45;center-text">Modify</th>-->
                            <th class="mdl-data-table__cell--center-text">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="permission in data = (perimeterList.data | filter:searchUser)">
                            <!--<td class="mdl-data-table__cell--non-numeric">{{permission}}</td> -->
                            <td class="mdl-data-table__cell--non-numeric">{{permission.clientId}}</td>
                            <!--<td class="mdl-data-table__cell--center-text">{{permission}}</td> -->
                            <td class="mdl-data-table__cell--non-numeric">{{permission.gatewayId}}</td>
                            <!--<td class="mdl-data-table__cell&#45;&#45;center-text">
                                <a ng-click="showEditFormData(permission.id)" href="javascript:void(0)">
                                    <i class="material-icons" role="presentation">edit</i>
                                </a>
                            </td>-->
                            <td class="mdl-data-table__cell--center-text">
                                <a ng-click="deletePermission(permission.id)" href="javascript:void(0)">
                                    <i class="material-icons" role="presentation">delete</i>
                                </a>
                            </td>
                        </tr>
                        <tr ng-hide="data[0] || showProgress">
                            <td colspan="5" class="mdl-data-table__cell--center-text">
                                No Data found<br><br>
                                <button ng-click="toggleAddBox('add')" ng-disabled="!periGateWaysList || !devicesList" class="mdl-button--colored-blue actionbar-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                                    <i class="material-icons">add_circle_outline</i> Create
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="showProgress" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        </div>
        <div class="pagination">
            <button ng-disabled="noNext || showProgress" ng-click="callNextPage(1)" class="mdl-button--colored-blue actionbar-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right">
                Next <i class="material-icons">navigate_next</i>
            </button>
            <label class="pull-right mdl-color-text--white page-no-text">Page {{page}}</label>
            <button ng-disabled="noPrevious || showProgress" ng-click="callNextPage(-1)" class="mdl-button--colored-blue actionbar-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-right">
                <i class="material-icons">navigate_before</i> Previous
            </button>
        </div>
    </div>
    <!-- Add group popup -->
    <div class="add-popup-backdrop" ng-show="addPermissionToggle"></div>
    <div class="add-popup-box mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-show="addPermissionToggle">
        <div class="mdl-card mdl-shadow--2dp general-form">
            <div class="mdl-card__title">
                <h2>{{isEdit ? 'Update' : 'Add'}} Permission</h2>
                <div class="mdl-card__subtitle">{{isEdit ? 'Update' : 'Add new'}} permission for client</div>
            </div>
            <div class="mdl-card__supporting-text">
                <form class="form" name="addpermission_forme" ng-submit="submitAddPermission(permissionData)">
                    <div class="form__article">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col selectbox mdl-selectfield country-select">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <label class="mdl-textfield__label drodown" for="client_id">Device</label>
                                    <select class="mdl-textfield__input" id="client_id" name="client_id" ng-model="permissionData.clientId" required>
                                        <option value="{{device.sdpId}}" ng-repeat="device in devicesList">{{device.altName}}</option>
                                    </select>
                                    <span class="client_id mdl-textfield__error">Required *</span>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-cell--6-col selectbox mdl-selectfield country-select">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <label class="mdl-textfield__label drodown" for="gateway_id">Gateway</label>
                                    <select id="gateway_id" class="mdl-textfield__input" name="gateway_id" ng-model="permissionData.gatewayId" required>
                                        <option value="{{gateway.sdpId}}" ng-repeat="gateway in periGateWaysList">{{gateway.name}}</option>
                                    </select>
                                    <span class="gateway_id mdl-textfield__error">Required *</span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="mdl-typography--text-center mobile-left-movable-content">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-blue mdl-js-ripple-effect" name="user_submit" ng-disabled="addpermission_forme.gateway_name.$invalid || addpermission_forme.gateway_name.$invalidFormat || addpermission_forme.gateway_ip.$invalid || addpermission_forme.gateway_ipport.$invalid">
                                <i class="material-icons">check</i>
                                Save
                            </button>
                            <button type="reset" ng-click="toggleAddBox('cancel')" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-blue mdl-js-ripple-effect" name="user_submit">
                                <i class="material-icons">cancel</i>
                                Cancel
                            </button>
                        </div>
                        <br/>
                        <div ng-show="showProgressAddUpdate" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>