<div ng-controller="OauthController" ng-cloak>
    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-card mdl-shadow--2dp general-form">
            <div class="mdl-card__title">
                <h2>User configurations</h2>
                <div class="mdl-card__subtitle">System user configuration</div>
            </div>
            <div class="mdl-card__supporting-text">
               
            </div>
        </div>
    </div>
</div>
