<div ng-controller="OnedriveController" ng-cloak>
    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="mdl-card mdl-shadow--2dp general-form">
            <div class="mdl-card__title">
                <h2>One Drive Integration </h2>
                <div class="mdl-card__subtitle">One Drive configuration</div>
            </div>
            <div class="mdl-card__supporting-text">
               
                    <div class="form__article">
                        <div class="mdl-grid">
                           
                        </div>
                        <div class="mdl-grid">
                            <div class="jumbotron">
							  <h1>PHP One Drive Sample</h1>
							  <p>This example shows how to get an OAuth token from Azure using the <a href="https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-protocols-oauth-code" target="_blank">authorization code grant flow</a> and to use that token to make calls to the Outlook APIs in the <a href="https://developer.microsoft.com/en-us/graph/" target="_blank">Microsoft Graph</a>.</p>
							  <p>
								<a class="btn btn-lg btn-primary" href="/signin" role="button" id="connect-button">Connect to Microsoft Account</a>
							  </p>
							</div>
                        </div>
                        <br/>
                        <br/>
                       
                        <br/>
                        <div ng-show="showProgress" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
                    </div>
                
            </div>
        </div>
    </div>
</div>
<!--
<div ng-controller="ConfigController" ng-cloak>
    <div class="container">
        <div class="users_section">
            <div class="row">
                <ng-include src="'templates/views/side-menu.html'"></ng-include>
                <div id="right_main_content" class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                    <div class="bread_crumbs">
                        <ul class="list-inline">
                            <li><a href="javascript:void(0);">Home /</a></li>
                            <li><a class="active" href="javascript:void(0);">Config</a></li>
                        </ul>
                    </div>
                    <div class="users_table">
                        <div class="table_top_section">
                            <div class="table_top_section_headding-left pull-left  col-md-4">
                                <h1>User configurations</h1>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="add_new_row">
                            <form class="col-md-6 col-md-offset-1" name="add_user_form" ng-submit="submitUserConfig(userData)">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label>Name</label>
                                        <input type="text" name="user_name" ng-model="userData.name" class="form-control" required>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>Contact number</label>
                                        <input type="tel" name="user_contact" ng-model="userData.contact" class="form-control" required>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>Password</label>
                                        <input type="password" name="user_password" ng-model="userData.password" class="form-control" required>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>Re-Password</label>
                                        <input type="password" name="user_re_password" ng-model="userData.re_password" class="form-control" required>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="login_buttons col-md-10">
                                        <input class="btn_nor" type="submit" ui-sref="listusers" value="Save" />
                                        <input class="btn_dark" type="reset" ui-sref="listusers" value="Cancel" />
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                            </form>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>-->
