<script type="text/ng-template" id="/overview.html">
    <label>Overview</label>
    <ul class="overview-list">
        <li ng-show="selectedData.step5.response['plain'] || selectedData.step5.response['enc'] || selectedData.step5.response['mask']">
            <i class="fa fa-minus-circle"></i>
            <b>Activity</b>
            <ul>
                <li ng-show="selectedData.step5.response['enc'] || selectedData.step5.response['mask']">Readonly</li>
                <li ng-show="selectedData.step5.response['plain']">Editable</li>
            </ul>
        </li>
        <li ng-show="selectedData.step6.finalAttributes[0]">
            <i class="fa fa-minus-circle"></i>
            <b>Attributes</b>
            <ul>
                <li ng-repeat="attr in selectedData.step6.finalAttributes">{{attr.name}}</li>
            </ul>
        </li>
        <li ng-show="selectedData.step5.response['enc'] || selectedData.step5.response['mask'] || selectedData.step5.response['plain']">
            <i class="fa fa-minus-circle"></i>
            <b>Response</b>
            <ul>
                <li ng-if="selectedData.step5.response['enc']">Encrypted<!--: <b>{{selectedData.step5.response['enc'].value}}--></b></li>
                <li ng-if="selectedData.step5.response['mask']">Masked: <b>{{selectedData.step5.response['mask'].value}}</b></li>
                <li ng-if="selectedData.step5.response['plain']">Plain</li>
            </ul>
        </li>
        <li ng-show="selectedData.step4.finalApps[0]">
            <i class="fa fa-minus-circle"></i>
            <b>Application</b>
            <ul>
                <li ng-repeat="app in selectedData.step4.finalApps" ng-hide="!app.appName || app.appName.length == 0 || (app.appName.indexOf('O365') >= 0) ||(app.appName =='Salesforce')">
                    {{app.appName}} <!--span ng-show="!app.appName || app.appName.length == 0">app.moduleId</span-->
                </li>
            </ul>
        </li>
        <li ng-show="selectedData.step3.finalCountries[0]">
            <i class="fa fa-minus-circle"></i>
            <b>Countries</b>
            <ul>
                <li ng-repeat="country in selectedData.step3.finalCountries">{{country.name}}</li>
            </ul>
        </li>
        <li ng-show="selectedData.step2.finalBrowsers[0]">
            <i class="fa fa-minus-circle"></i>
            <b>Browsers</b>
            <ul>
                <li ng-repeat="browser in selectedData.step2.finalBrowsers">{{browser}}</li>
            </ul>
        </li>
        <li ng-show="selectedData.step2.finalOs[0]">
            <i class="fa fa-minus-circle"></i>
            <b>OSs</b>
            <ul>
                <li ng-repeat="os in selectedData.step2.finalOs">{{os}}</li>
            </ul>
        </li>
        <li ng-show="selectedData.step1.finalUsers[0]">
            <i class="fa fa-minus-circle"></i>
            <b>Users</b>
            <ul>
                <li ng-repeat="user in selectedData.step1.finalUsers">{{user.firstName}} {{user.lastName}}</li>
            </ul>
        </li>
        <li ng-show="selectedData.step1.finalGroups[0]">
            <i class="fa fa-minus-circle"></i>
            <b>Groups</b>
            <ul>
                <li ng-repeat="group in selectedData.step1.finalGroups">{{group.groupName}}</li>
            </ul>
        </li>
    </ul>
</script>
<div class="add-popup-backdrop" ng-show="addPolicyToggle"></div>
<div class="add-popup-box add-policy-wizard overflow-y mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-show="addPolicyToggle">
    <div class="mdl-card mdl-shadow--2dp general-form">
        <div class="mdl-card__title">
            <h2>{{isEdit ? 'Update' : 'Add'}} Policy</h2>
            <div class="mdl-card__subtitle">{{isEdit ? 'Update' : 'Add new'}} policy for system</div>
            <button class="mdl-button mdl-button--icon close-wizard-btn mdl-js-ripple-effect" ng-click="toggleAddBox()">
                <i class="material-icons">close</i>
            </button>
        </div>
        <div class="mdl-card__supporting-text">
            <div class="steps-container">
                <div class="steps">
                    <span class="circle step1" ng-class="{'active' : data.currentStep == 1, 'checked' : data.currentStep > 1}">
                        <label>People</label>
                        <i class="fa fa-check"></i>
                    </span>
                            <span class="cprogress step1" ng-class="{'filled' : data.currentStep > 1}"></span>
                    <span class="circle step2" ng-class="{'active' : data.currentStep == 2, 'checked' : data.currentStep > 2}">
                        <label>Devices</label>
                        <i class="fa fa-check"></i>
                    </span>
                            <span class="cprogress step2" ng-class="{'filled' : data.currentStep > 2}"></span>
                    <span class="circle step3" ng-class="{'active' : data.currentStep == 3, 'checked' : data.currentStep > 3}">
                        <label>Location</label>
                        <i class="fa fa-check"></i>
                    </span>
                            <span class="cprogress step3" ng-class="{'filled' : data.currentStep > 3}"></span>
                    <span class="circle step4" ng-class="{'active' : data.currentStep == 4, 'checked' : data.currentStep > 4}">
                        <label>Application</label>
                        <i class="fa fa-check"></i>
                    </span>
                            <span class="cprogress step4" ng-class="{'filled' : data.currentStep > 4}"></span>
                    <span class="circle step5" ng-class="{'active' : data.currentStep == 5, 'checked' : data.currentStep > 5}">
                        <label>Response</label>
                        <i class="fa fa-check"></i>
                    </span>
                            <span class="cprogress step5" ng-class="{'filled' : data.currentStep > 5}"></span>
                    <span class="circle step6" ng-class="{'active' : data.currentStep == 6, 'checked' : data.currentStep > 6}">
                        <label>Fields</label>
                        <i class="fa fa-check"></i>
                    </span>
                            <span class="cprogress step6" ng-class="{'filled' : data.currentStep > 6}"></span>
                    <span class="circle step7" ng-class="{'active' : data.currentStep == 7, 'checked' : data.currentStep > 7}">
                        <label>Activity</label>
                        <i class="fa fa-check"></i>
                    </span>
                            <span class="cprogress step7" ng-class="{'filled' : data.currentStep > 7}"></span>
                    <span class="circle step8" ng-class="{'active' : data.currentStep == 8, 'checked' : data.currentStep > 8}">
                        <label>Set Policy</label>
                        <i class="fa fa-check"></i>
                    </span>
                </div>
            </div>
            <form name="policy_wizard_form">
                <div ng-switch on="data.currentStep">
                    <div class="mdl-grid no-margin input-containers" ng-switch-when="1">
                        <div class="mdl-cell mdl-cell--3-col sub-containers">
                            <ul class="first-list">
                                <li ng-class="{active : stepActives.step1 == 'group'}" ng-click="stepActives.step1 = 'group'">Groups</li>
                                <li ng-class="{active : stepActives.step1 == 'user'}" ng-click="stepActives.step1 = 'user'">Users</li>
                            </ul>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col sub-containers with-padding light-container">
                            <div ng-show="stepActives.step1 == 'group'">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label lite">
                                    <input type="text" class="mdl-textfield__input" id="group_name" name="attribute_name" ng-model="searchGroups" autocomplete="off" placeholder="Search Groups">
                                    <!--<label class="mdl-textfield__label" for="group_name">Search Groups</label>-->
                                </div>
                                <ul class="checkbox-list no-margin">
                                    <li ng-repeat="group in (groupList | filter:searchGroups) track by $index">
                                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" ng-class="{'is-checked' : selectedData.step1.groups[group.id]}" for="grp{{group.id}}">
                                            <input type="checkbox" class="mdl-checkbox__input" id="grp{{group.id}}" ng-model="selectedData.step1.groups[group.id]" ng-change="addRemoveItem(selectedData.step1.groups[group.id], group, 'groups')">
                                            <span class="mdl-checkbox__label">{{group.groupName}}</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div ng-show="stepActives.step1 == 'user'">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label lite">
                                    <input type="text" class="mdl-textfield__input" id="user_name" name="attribute_name" ng-model="searchUsers" autocomplete="off" placeholder="Search Users">
                                    <!--<label class="mdl-textfield__label" for="user_name">Search Users</label>-->
                                </div>
                                <ul class="checkbox-list no-margin">
                                    <li ng-repeat="user in (userList | filter:searchUsers) track by $index">
                                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" ng-class="{'is-checked' : selectedData.step1.users[user.id]}" for="usr{{user.id}}">
                                            <input type="checkbox" class="mdl-checkbox__input" id="usr{{user.id}}" ng-model="selectedData.step1.users[user.id]" ng-change="addRemoveItem(selectedData.step1.users[user.id], user, 'users')">
                                            <span class="mdl-checkbox__label">{{user.firstName}} {{user.lastName}}</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--3-col sub-containers with-padding">
                            <ng-include src="'/overview.html'"></ng-include>
                        </div>
                    </div>
                    <div class="mdl-grid no-margin input-containers" ng-switch-when="2">
                        <div class="mdl-cell mdl-cell--3-col sub-containers">
                            <ul class="first-list">
                                <li ng-class="{active : stepActives.step2 == 'os'}" ng-click="stepActives.step2 = 'os'">OS</li>
                                <li ng-class="{active : stepActives.step2 == 'browser'}" ng-click="stepActives.step2 = 'browser'">Browsers</li>
                            </ul>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col  sub-containers with-padding light-container">
                            <div ng-show="stepActives.step2 == 'os'">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label lite">
                                    <input type="text" class="mdl-textfield__input" id="os_name" name="attribute_name" ng-model="searchOs" autocomplete="off" placeholder="Search OS">
                                    <!--<label class="mdl-textfield__label" for="os_name">Search OS</label>-->
                                </div>
                                <ul class="checkbox-list no-margin">
                                    <li ng-repeat="os in listOs | filter : searchOs track by $index">
                                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" ng-class="{'is-checked' : selectedData.step2.oss[os]}" for="os{{os}}">
                                            <input type="checkbox" class="mdl-checkbox__input" id="os{{os}}" ng-model="selectedData.step2.oss[os]" ng-change="addRemoveItem(selectedData.step2.oss[os], os, 'oss')">
                                            <span class="mdl-checkbox__label">{{os}}</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div ng-show="stepActives.step2 == 'browser'">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label lite">
                                    <input type="text" class="mdl-textfield__input" id="browser_name" name="browser_name" ng-model="searchBrowser" autocomplete="off" placeholder="Search Browsers">
                                    <!--<label class="mdl-textfield__label" for="browser_name">Search Browsers</label>-->
                                </div>
                                <ul class="checkbox-list no-margin">
                                    <li ng-repeat="browser in listBrowsers | filter : searchBrowser track by $index">
                                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" ng-class="{'is-checked' : selectedData.step2.browsers[browser]}" for="brw{{browser}}">
                                            <input type="checkbox" class="mdl-checkbox__input" id="brw{{browser}}" ng-model="selectedData.step2.browsers[browser]" ng-change="addRemoveItem(selectedData.step2.browsers[browser], browser, 'browsers')">
                                            <span class="mdl-checkbox__label">{{browser}}</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--3-col sub-containers with-padding">
                            <ng-include src="'/overview.html'"></ng-include>
                        </div>
                    </div>
                    <div class="mdl-grid no-margin input-containers" ng-switch-when="3">
                        <div class="mdl-cell mdl-cell--3-col sub-containers">
                            <ul class="first-list">
                                <li class="active">Countries</li>
                            </ul>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col sub-containers with-padding light-container">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label lite">
                                <input type="text" class="mdl-textfield__input" id="country_name" name="country_name" ng-model="searchCountry" autocomplete="off" placeholder="Search Country">
                                <!--<label class="mdl-textfield__label" for="country_name">Search Country</label>-->
                            </div>
                            <ul class="checkbox-list no-margin expander-list">
                                <ng-repeat ng-repeat="region in countryWithRegions | unique:'region'">
                                    <li>
                                        <i class="cursor-pointer material-icons pull-left" ng-click="regionToggle[region['region-code']] = !regionToggle[region['region-code']]">{{ regionToggle[region['region-code']] ? 'remove' : 'add'}}</i>
                                        <label class="pull-left mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" ng-class="{'is-checked' : selectedData.step3.regions[region.region]}" for="regn{{region.region}}">
                                            <input type="checkbox" class="mdl-checkbox__input" id="regn{{region.region}}" ng-model="selectedData.step3.regions[region.region]" ng-change="addRemoveItem(selectedData.step3.regions[region.region], region, 'regions')">
                                            <span class="mdl-checkbox__label">{{region.region || 'Other'}}</span>
                                        </label>
                                    </li>
                                    <li ng-show="regionToggle[region['region-code']]">
                                        <ul class="checkbox-list second-list">
                                            <li ng-repeat="country in countryWithRegions | filter : {region : region.region} | filter: searchCountry track by $index">
                                                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" ng-class="{'is-checked' : selectedData.step3.countries[country['alpha-2']]}" for="cntr{{country['alpha-2']}}">
                                                    <input type="checkbox" class="mdl-checkbox__input" id="cntr{{country['alpha-2']}}" ng-model="selectedData.step3.countries[country['alpha-2']]" ng-change="addRemoveItem(selectedData.step3.countries[country['alpha-2']], country, 'countries', region)">
                                                    <span class="mdl-checkbox__label">{{country.name}}</span>
                                                </label>
                                            </li>
                                        </ul>
                                    </li>
                                </ng-repeat>
                            </ul>
                        </div>
                        <div class="mdl-cell mdl-cell--3-col sub-containers with-padding">
                            <ng-include src="'/overview.html'"></ng-include>
                        </div>
                    </div>
                    <div class="mdl-grid no-margin input-containers" ng-switch-when="4">
                        <div class="mdl-cell mdl-cell--3-col sub-containers">
                            <ul class="first-list">
                                <li class="active">Applications</li>
                            </ul>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col sub-containers with-padding light-container">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label lite">
                                <input type="text" class="mdl-textfield__input" id="app_name" name="app_name" ng-model="searchApps" autocomplete="off" placeholder="Search Apps">
                                <!--<label class="mdl-textfield__label" for="app_name">Search Apps</label>-->
                            </div>
                            <ul class="checkbox-list no-margin">
                                <li ng-repeat="app in listApps | filter: searchApps track by $index" ng-hide="!app.appName || app.appName.length == 0 || (app.appName.indexOf('O365') >= 0) || (app.appName =='Salesforce')">
                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" ng-class="{'is-checked' : selectedData.step4.apps[app.moduleId]}" for="app{{app.moduleId}}" ng-disabled="!app.appName || app.appName.length == 0">
                                        <input type="checkbox" class="mdl-checkbox__input" id="app{{app.moduleId}}" ng-model="selectedData.step4.apps[app.moduleId]" ng-change="addRemoveItem(selectedData.step4.apps[app.moduleId], app, 'apps')"/>
                                        <span class="mdl-checkbox__label">
                                            {{app.appName}} <!--span ng-show="!app.appName || app.appName.length == 0">{{app.moduleId}}</span-->
                                        </span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="mdl-cell mdl-cell--3-col sub-containers with-padding">
                            <ng-include src="'/overview.html'"></ng-include>
                        </div>
                    </div>
                    <div class="mdl-grid no-margin input-containers" ng-switch-when="5">
                        <div class="mdl-cell mdl-cell--3-col sub-containers">
                            <ul class="first-list">
                                <li ng-class="{active : stepActives.step5 == 'enc'}" ng-click="stepActives.step5 = 'enc';selectedData.step5.response['plain'] = undefined;selectedData.step5.response['enc'] = 'ENC';selectedData.step5.response['mask'] = undefined;selectedData.step7.activity='readonly';">Encrypted</li>
                                <li ng-class="{active : stepActives.step5 == 'mask'}" ng-click="stepActives.step5 = 'mask'">Masked</li>
                                <li ng-class="{active : stepActives.step5 == 'plain'}" ng-click="stepActives.step5 = 'plain';selectedData.step5.response['plain'] = 'Plain';selectedData.step5.response['enc'] = undefined;selectedData.step5.response['mask'] = undefined;selectedData.step7.activity='editable';">Plain</li>
                            </ul>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col sub-containers with-padding light-container">
                            <div ng-show="stepActives.step5 == 'enc'">
                                <label>Encryption Algorithm AES 256</label>
                            </div>
                            <div ng-show="stepActives.step5 == 'mask'" ng-click="selectedData.step5.response['enc'] = undefined;selectedData.step5.response['plain'] = undefined;selectedData.step7.activity='readonly';">
                                <ul class="checkbox-list">
                                    <li ng-repeat="mask in maskMethods | filter:filterMaskAlgo">
                                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="mask{{mask.id}}" ng-class="{'is-checked' : selectedData.step5.response['mask'] == mask}">
                                            <input type="radio" id="mask{{mask.id}}" class="mdl-radio__button" name="mask" ng-model="selectedData.step5.response['mask']" ng-value="mask">
                                            <span class="mdl-radio__label">{{mask.value}}</span>
                                        </label>
                                    </li>
                                </ul>
                                <div ng-show="selectedData.step5.response['mask'].id == 'custom'">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label lite">
                                        <input class="mdl-textfield__input" type="text" id="custom-regex" ng-model="selectedData.step5.response['mask'].regex">
                                        <label class="mdl-textfield__label" for="custom-regex">Custom Regex</label>
                                    </div>
                                    <div class="steps-container" style="background-color: #e6e6e6;padding: 10px;margin: 10px 10px 10px 0;">
                                        <label><string>Test Regex Here</string></label>
                                        <div class="mdl-grid">
                                            <div class="mdl-cell mdl-cell--11-col">
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label lite">
                                                    <input class="mdl-textfield__input" type="text" id="testString" ng-model="testString">
                                                    <label class="mdl-textfield__label" for="testString">Test String</label>
                                                </div>
                                            </div>
                                            <div class="mdl-cell mdl-cell--11-col no-margin">
                                                <div class="mdl-textfield mdl-js-textfield lite">
                                                    <input class="mdl-textfield__input" type="text" id="regExp" ng-model="selectedData.step5.response['mask'].regex" readonly>
                                                    <!--<label class="mdl-textfield__label" for="regExp">Regular Expression</label>-->
                                                </div>
                                            </div>
                                            <div class="mdl-cell mdl-cell--11-col no-margin">
                                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-blue mdl-js-ripple-effect pull-left" ng-click="testCustomerRegex(testString, selectedData.step5.response['mask'].regex)">
                                                    <i class="material-icons">spellcheck</i>
                                                    Perform Test
                                                </button>
                                            </div>
                                            <div class="mdl-cell mdl-cell--11-col no-margin" ng-show="testResultString">
                                                <br/>
                                                <span>Result :</span>
                                                <label>{{testResultString}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="stepActives.step5 == 'plain'">
                                Plain Response
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--3-col sub-containers with-padding">
                            <ng-include src="'/overview.html'"></ng-include>
                        </div>
                    </div>
                    <div class="mdl-grid no-margin input-containers" ng-switch-when="6">
                        <div class="mdl-cell mdl-cell--3-col sub-containers">
                            <ul class="first-list">
                                <li ng-class="{active : stepActives.step6 == standard.name}" ng-click="standardChanged(standard)" ng-repeat="standard in standardList">{{standard.name}}</li>
                            </ul>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col sub-containers with-padding">
                            <ul class="checkbox-list">
                                <li ng-repeat="attr in listAttributes track by $index">
                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" ng-class="{'is-checked' : selectedData.step6.attributes[attr.id]}" for="atr{{attr.id}}">
                                        <input type="checkbox" id="atr{{attr.id}}" class="mdl-checkbox__input" ng-model="selectedData.step6.attributes[attr.id]" ng-change="addRemoveItem(selectedData.step6.attributes[attr.id], attr, 'attribute')" value="{{attr}}">
                                        <span class="mdl-checkbox__label">{{attr.name}}</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="mdl-cell mdl-cell--3-col sub-containers with-padding">
                            <ng-include src="'/overview.html'"></ng-include>
                        </div>
                    </div>
                    <div class="mdl-grid no-margin input-containers" ng-switch-when="7">
                        <div class="mdl-cell mdl-cell--9-col sub-containers two-of-first with-padding light-container">
                            <label>Activity</label>
                            <div>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="readonly" ng-class="{'is-checked':selectedData.step5.response['mask'] || selectedData.step5.response['enc']}">
                                    <input type="radio" class="mdl-radio__button" id="readonly" name="activity" ng-checked="selectedData.step5.response['mask'] || selectedData.step5.response['enc']" disabled />
                                    <span class="mdl-radio__label">Readonly</span>
                                </label>
                            </div>
                            <div>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="editable" ng-class="{'is-checked':selectedData.step5.response['plain']}">
                                    <input type="radio" class="mdl-radio__button" id="editable" name="activity" ng-checked="selectedData.step5.response['plain']" disabled/>
                                    <span class="mdl-radio__label">Editable</span>
                                </label>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--3-col two sub-containers with-padding">
                            <ng-include src="'/overview.html'"></ng-include>
                        </div>
                    </div>
                    <div class="mdl-grid no-margin input-containers" ng-switch-when="8">
                        <div class="mdl-cell mdl-cell--9-col two-of-first sub-containers with-padding light-container form">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--8-col mdl-textfield lite" ng-class="{'is-invalid' : (!selectedData.step8.policyName || policy_wizard_form.policy_name.$invalidFormat)}">
                                    <span class="custom-textfield-label" for="policy_name">Policy Name</span>
                                    <input type="text" class="mdl-textfield__input" id="policy_name" name="policy_name" required ng-model="selectedData.step8.policyName" ng-change="validateAlphaDotString(selectedData.step8.policyName, policy_wizard_form.policy_name)">
                                    <!--<label class="mdl-textfield__label" for="policy_name">Policy name</label>-->
                                    <span class="policy_name mdl-textfield__error" ng-show="policy_wizard_form.policy_name.$error.required">Required *</span>
                                    <label class="mdl-textfield__error custom-err-msg" ng-show="!policy_wizard_form.policy_name.$error.required && policy_wizard_form.policy_name.$invalidFormat">Only characters and dot(.) allowed</label>
                                </div>
                            </div>
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--8-col lite" ng-class="{'is-invalid' : !selectedData.step8.policyDescription}">
                                    <span class="custom-textfield-label" for="policydesc">Policy Description</span>
                                    <textarea class="mdl-textfield__input" rows="3" id="policydesc" ng-model="selectedData.step8.policyDescription" name="policy_desc"></textarea>
                                    <!--<label class="mdl-textfield__label" for="policydesc">Policy Description</label>-->
                                    <!--<span class="user_lastname mdl-textfield__error">Required *</span>-->
                                </div>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--3-col two sub-containers with-padding">
                            <ng-include src="'/overview.html'"></ng-include>
                        </div>
                    </div>
                </div>
            </form>
            <div class="action-buttons">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-blue mdl-js-ripple-effect pull-left" ng-show="data.currentStep > 1" ng-click="data.currentStep = data.currentStep-1">
                    <i class="material-icons">arrow_back</i>
                    Previous
                </button>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-blue mdl-js-ripple-effect pull-right" ng-show="data.currentStep < 8" ng-click="data.currentStep = data.currentStep+1" ng-disabled="data.currentStep == 3 && selectedData.step3.finalCountries.length == 0">
                    Next
                    <i class="material-icons">arrow_forward</i>
                </button>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored-green mdl-js-ripple-effect pull-right" ng-show="data.currentStep == 8" ng-click="submitCreatePolicy()" ng-disabled="!selectedData.step8.policyName || !selectedData.step8.policyDescription || savingPolicy || policy_wizard_form.$invalid || policy_wizard_form.policy_name.$invalidFormat">
                    <i class="material-icons">save</i>
                    Create Policy
                </button>
            </div>
            <div ng-show="showProgressAddEdit" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        </div>
    </div>
</div>